<div class="content-div">
  <div class="well well-sm">
    <h2 class="text-center">Business Data Entry</h2>
  </div>
<%= link_to "Tax Return Summary", user_tax_return_path(current_user, TaxReturn.where(business: @business).pluck(:id)), method: :get, class: "btn btn-primary pull-right" %>
<%= render 'form' %>


</div>