<div class="content-div">
  <div class="well well-sm">
    <h2 class="text-center">Edit Business</h2>
  </div>

<%= render 'form' %>

<%= link_to 'Show', user_business_path(@user, @business) %> |
<%= link_to 'Back', user_businesses_path(@user) %>
</div>