<div class="row">
  <div class="well well-sm">
    <h2>Dashboard</h2>
  </div>
</div>
<div class="row">
  <h3 class="text-center">Welcome To Halon Tax</h3>
  <h4 class="text-center">When you are ready to begin your tax return click this button</h4>
  <h5 class="text-center">Halon will guide you every step of the way</h5>
  <h6 class="text-center">This is going to be alot of fun!</h6>
  <div class="text-center">  
    <a href="return_wizard/get_name.html" class="btn btn-primary btn-lg" >Begin Tax Return</a>
  </div>
</div>

