<% user_signed_in? %>
<div class="row">
  <div class="content-div">
    <div class="well well-sm">
      <h2 class="text-center">Dashboard</h2>
    </div>
  </div>
</div>
<div class="row">
  <div class="content-div">
    <table class="table">
      <thead>  
        <tr>
          <th>Business Name</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
        <% User.find(current_user.id).businesses.each do |biz| %>
          <td><%= biz.business_name %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
