<div class="text-center">
<ul class="tab">
  <li><a href="#" class="tablinks" onclick="openCity(event, '1120Spg1')">1120S Page 1</a></li>
  <li><a href="#" class="tablinks" onclick="openCity(event, '1120Spg2')">1120S Page 2</a></li>
  <li><a href="#" class="tablinks" onclick="openCity(event, '1120Spg3')">1120S Page 3</a></li>
  <li><a href="#" class="tablinks" onclick="openCity(event, '1120Spg4')">1120S Page 4</a></li>
  <li><a href="#" class="tablinks" onclick="openCity(event, '1120Spg5')">1120S Page 5</a></li>
</ul>
</div>

<div id="1120Spg1" class="tabcontent">
    <body>
	<div class="wholepage">
		<div class="pagewrapper">
			<header class="clearfix bdr-bottom">
				<div class="hfirst">
					<h2><span>Form</span> 1120S</h2>
					<p>Department of the Treasury <br>Internal Revenue Service </p>
				</div>
				<div class="hmid text-center">
					<h3>U.S. Income Tax Return for an S Corporation </h3>
					<p><b><span class="trg"></span> Do not file this form unless the corporation has filed or is<br>attaching Form 2553 to elect to be an S corporation. </b></p>
					<p><span class="trg"></span> <b> Information about Form 1120S and its separate instructions is at <a href="https://www.irs.gov/uac/about-form-1120s"><i>www.irs.gov/form1120s</i></a></b></p>
					
				</div>
				<div class="hfirst text-center">
					<p>OMB No. 1545-0123</p>
					<h1 class="date"><span>20</span>15</h1>
				</div>
			</header>
			<div class="form-content">
				<form>
					<div class="forcalender clearfix bdr-bottom">
						<span>For calendar year 2015 or tax year beginning </span>
						<input type="text" name="c1" class="c1">
						<span>, 2015, ending </span>
						<input type="text" name="c2"  class="c2">
						<span>, 20  </span>
						<input type="text" name="c3"  class="c3">
					</div>
				</form>
				<table class="bdr-bottom">
					<tr>
						<td class="bdr-right">
							<p><strong>A</strong> S election effective date </p>
							<input type="text" class="input-full">
							<hr>
							<p><strong>B</strong> Business activity code<br>number (see instructions) </p>
							<input type="text" class="input-full">
							<hr>
							<p><strong>C</strong> Check if Sch. M-3 attached <input type="checkbox"></p>
						</td>
						<td class="bdr-right">
							<h4 class="type-or-print">TYPE <br> OR <br> PRINT</h4>
						</td>
						<td class="bdr-right w-46">
							<p>Name </p>
							<div class="input-full"><h5><%= Business.find(@tax_return.business_id).business_name %></h5></div>
							<hr>
							<p>Number, street, and room or suite no. If a P.O. box, see instructions. </p>
							<input type="text" class="input-full">
							<hr>
							<p>City or town, state or province, country, and ZIP or foreign postal code</p>
							<input type="text" class="input-full">
						</td>
						<td>
							<p><strong>D</strong> Employer identification number </p>
							<input type="text" class="input-full">
							<hr>
							<p><strong>E</strong> Date incorporated </p>
							<input type="text" class="input-full">
							<hr>
							<p><strong>F</strong> Total assets (see instructions)</p>
							<p class="dollor-div clearfix">
								$ <span class="pull-right clearfix"><input type="text" class="bdr-right">
								<input type="text" name=""></span>
							</p>
						</td>
					</tr>
				</table>
				<p class="step-p bdr-bottom"><strong>G</strong> Is the corporation electing to be an S corporation beginning with this tax year? <input type="checkbox" name="yes"> Yes <input type="checkbox" name="no"> No If “Yes,” attach Form 2553 if not already filed </p>
				<div class="step-p"><strong>H</strong> Check if:
					<ul class="list-inline">
						<li><strong>(1) </strong> <input type="checkbox" name=""> Final return </li>
						<li> <strong>(2) </strong> <input type="checkbox" name=""> Name change</li>
						<li> <strong>(3) </strong> <input type="checkbox" name=""> Address change </li>
						<li><strong>(4) </strong> <input type="checkbox" name=""> Amended return </li>
						<li><strong>(5) </strong> <input type="checkbox" name=""> S election termination or revocation</li>
					</ul> 
				</div>
				<p class="step-p istep clearfix">
					<span class="dottoed-l">
						<span><strong>I</strong> Enter the number of shareholders who were shareholders during any part of the tax year 
						</span>
					</span>
					<span class="pos-abs"><span class="trg"></span> <input type="text"></span>
				</p>
				<p class="bdr-top bdr-bottom"><b>Caution: Include</b> only trade or business income and expenses on lines 1a through 21. See the instructions for more information. </p>
			</div>
			<div class="div-top bdr-bottom income-div">
				<ul class="list-input">
					<li><span class="num">1</span>
						<ul>
							<li>
								<div class="line-div">
									<span class="doline">
										Gross receipts or sales
									</span>
									<div class="floatsection">
										<span class="numbering">
											1a
										</span>
										<div class="longinput text-center"><h6><%= number_to_currency(Business.find(@tax_return.business_id).gross_receipts) %></h6></div>
										<input type="text" class="shortinput">
									</div>
									<div class="right-section">
										<span class="numbering b-bg">
											
										</span>
									</div>
								</div>
							</li>
							<li>
								<div class="line-div">
									<span class="doline">
										Returns and allowances
									</span>
									<div class="floatsection">
										<span class="numbering">
											1b
										</span>
										<input type="text" class="longinput">
										<input type="text" class="shortinput">
									</div>
									<div class="right-section">
										<span class="numbering b-bg">
											
										</span>
									</div>
								</div>
							</li>
							<li>
								<div class="line-div">
									<span class="doline">
										Returns and allowances
									</span>
									<div class="right-section">
										<span class="numbering">
											1c
										</span>
										<input type="text" class="longinput">
										<input type="text" class="shortinput">
									</div>
								</div>
							</li>
						</ul>
					</li>
					<li>
						<span class="num">2</span>
						<div class="line-div">
							<span>Cost of goods sold (attach Form 1125-A) </span>
							<div class="right-section">
								<span class="numbering">
									2
								</span>
								<input type="text" class="longinput">
								<input type="text" class="shortinput">
							</div>
						</div>
					</li>
					<li>
						<span class="num">3</span>
						<div class="line-div">
							<span>Gross profit. Subtract line 2 from line 1c  </span>
							<div class="right-section">
								<span class="numbering">
									3
								</span>
								<input type="text" class="longinput">
								<input type="text" class="shortinput">
							</div>
						</div>
					</li>
					<li>
						<span class="num">4</span>
						<div class="line-div">
							<span>Net gain (loss) from Form 4797, line 17 (attach Form 4797)  </span>
							<div class="right-section">
								<span class="numbering">
									4
								</span>
								<input type="text" class="longinput">
								<input type="text" class="shortinput">
							</div>
						</div>
					</li>
					<li>
						<span class="num">5</span>
						<div class="line-div">
							<span>Other income (loss) (see instructions—attach statement)</span>
							<div class="right-section">
								<span class="numbering">
									5
								</span>
								<input type="text" class="longinput">
								<input type="text" class="shortinput">
							</div>
						</div>
					</li>
					<li>
						<span class="num">6</span>
						<div class="line-div">
							<span><b>Total income (loss).</b> Add lines 3 through 5 . . </span>
							<span class="trg pull-right"></span>
							<div class="right-section">
								<span class="numbering">
									6
								</span>
								<input type="text" class="longinput">
								<input type="text" class="shortinput">
							</div>
						</div>
					</li>
				</ul>
				<p class="divname"> Income </p>
			</div>
			<div class="div-top bdr-bottom deduction-div">
				<ul class="list-input">
					<li>
						<span class="num">7</span>
						<div class="line-div">
							<span>Compensation of officers (see instructions—attach Form 1125-E)   </span>
							<div class="right-section">
								<span class="numbering">
									7
								</span>
								<input type="text" class="longinput">
								<input type="text" class="shortinput">
							</div>
						</div>
					</li>
					<li>
						<span class="num">8</span>
						<div class="line-div">
							<span>Salaries and wages (less employment credits)</span>
							<div class="right-section">
								<span class="numbering">
									8
								</span>
								<input type="text" class="longinput">
								<input type="text" class="shortinput">
							</div>
						</div>
					</li>
					<li>
						<span class="num">9</span>
						<div class="line-div">
							<span>Repairs and maintenance </span>
							<div class="right-section">
								<span class="numbering">
									9
								</span>
								<input type="text" class="longinput">
								<input type="text" class="shortinput">
							</div>
						</div>
					</li>
					<li>
						<span class="num">10</span>
						<div class="line-div">
							<span>Bad debts</span>
							<div class="right-section">
								<span class="numbering">
									10
								</span>
								<input type="text" class="longinput">
								<input type="text" class="shortinput">
							</div>
						</div>
					</li>
					<li>
						<span class="num">11</span>
						<div class="line-div">
							<span>Rents</span>
							<div class="right-section">
								<span class="numbering">
									11
								</span>
								<div class="longinput text-center"><h6><%= number_to_currency(Business.find(@tax_return.business_id).rents) %></h6></div>
								<input type="text" class="shortinput">
							</div>
						</div>
					</li>
					<li>
						<span class="num">12</span>
						<div class="line-div">
							<span>Taxes and licenses</span>
							<div class="right-section">
								<span class="numbering">
									12
								</span>
								<input type="text" class="longinput">
								<input type="text" class="shortinput">
							</div>
						</div>
					</li>
					<li>
						<span class="num">13</span>
						<div class="line-div">
							<span>Interest</span>
							<div class="right-section">
								<span class="numbering">
									13
								</span>
								<input type="text" class="longinput">
								<input type="text" class="shortinput">
							</div>
						</div>
					</li>
					<li>
						<span class="num">14</span>
						<div class="line-div">
							<span>Depreciation not claimed on Form 1125-A or elsewhere on return (attach Form 4562) </span>
							<div class="right-section">
								<span class="numbering">
									14
								</span>
								<input type="text" class="longinput">
								<input type="text" class="shortinput">
							</div>
						</div>
					</li>
					<li>
						<span class="num">14</span>
						<div class="line-div">
							<span>Depletion <b>(Do not deduct oil and gas depletion.)</b> </span>
							<div class="right-section">
								<span class="numbering">
									15
								</span>
								<input type="text" class="longinput">
								<input type="text" class="shortinput">
							</div>
						</div>
					</li>
					<li>
						<span class="num">16</span>
						<div class="line-div">
							<span>Advertising </span>
							<div class="right-section">
								<span class="numbering">
									16
								</span>
								<input type="text" class="longinput">
								<input type="text" class="shortinput">
							</div>
						</div>
					</li>
					<li>
						<span class="num">17</span>
						<div class="line-div">
							<span>Pension, profit-sharing, etc., plans	 </span>
							<div class="right-section">
								<span class="numbering">
									17
								</span>
								<input type="text" class="longinput">
								<input type="text" class="shortinput">
							</div>
						</div>
					</li>
					<li>
						<span class="num">18</span>
						<div class="line-div">
							<span>Employee benefit programs  </span>
							<div class="right-section">
								<span class="numbering">
									18
								</span>
								<input type="text" class="longinput">
								<input type="text" class="shortinput">
							</div>
						</div>
					</li>
					<li>
						<span class="num">19</span>
						<div class="line-div">
							<span>Other deductions (attach statement)</span>
							<div class="right-section">
								<span class="numbering">
									19
								</span>
								<input type="text" class="longinput">
								<input type="text" class="shortinput">
							</div>
						</div>
					</li>
					<li>
						<span class="num">20</span>
						<div class="line-div">
							<span><b>Other deductions</b> Add lines 7 through 19</span>
							<div class="right-section">
								<span class="numbering">
									20
								</span>
								<input type="text" class="longinput">
								<input type="text" class="shortinput">
							</div>
						</div>
					</li>
					<li>
						<span class="num">21</span>
						<div class="line-div">
							<span><b>Ordinary business income (loss).</b> Subtract line 20 from line 6 .</span>
							<div class="right-section">
								<span class="numbering">
									21
								</span>
								<input type="text" class="longinput">
								<input type="text" class="shortinput">
							</div>
						</div>
					</li>
				</ul>
				<p class="divname">Deductions <span>(see instructions for limitations)</span> </p>
			</div>
			<div class="div-top bdr-bottom tax-payments">
				<ul class="list-input">
					<li><span class="num">22</span>
						<ul>
							<li>
								<div class="line-div">
									<span class="doline">
										Excess net passive income or LIFO recapture tax (see instructions) 
									</span>
									<div class="floatsection">
										<span class="numbering">
											22a
										</span>
										<input type="text" class="longinput">
										<input type="text" class="shortinput">
									</div>
									<div class="right-section">
										<span class="numbering b-bg">
											
										</span>
									</div>
								</div>
							</li>
							<li>
								<div class="line-div">
									<span class="doline">
										Tax from Schedule D (Form 1120S)
									</span>
									<div class="floatsection">
										<span class="numbering">
											22b
										</span>
										<input type="text" class="longinput">
										<input type="text" class="shortinput">
									</div>
									<div class="right-section">
										<span class="numbering b-bg">
											
										</span>
									</div>
								</div>
							</li>
							<li>
								<div class="line-div">
									<span class="doline">
										Add lines 22a and 22b (see instructions for additional taxes) 
									</span>
									<div class="right-section">
										<span class="numbering">
											22c
										</span>
										<input type="text" class="longinput">
										<input type="text" class="shortinput">
									</div>
								</div>
							</li>
						</ul>
					</li>
					<li><span class="num">23</span>
						<ul>
							<li>
								<div class="line-div">
									<span class="doline">
										2015 estimated tax payments and 2014 overpayment credited to 2015 
									</span>
									<div class="floatsection">
										<span class="numbering">
											23a
										</span>
										<input type="text" class="longinput">
										<input type="text" class="shortinput">
									</div>
									<div class="right-section">
										<span class="numbering b-bg">
											
										</span>
									</div>
								</div>
							</li>
							<li>
								<div class="line-div">
									<span class="doline">
										Tax deposited with Form 7004
									</span>
									<div class="floatsection">
										<span class="numbering">
											23b
										</span>
										<input type="text" class="longinput">
										<input type="text" class="shortinput">
									</div>
									<div class="right-section">
										<span class="numbering b-bg">
											
										</span>
									</div>
								</div>
							</li>
							<li>
								<div class="line-div">
									<span class="doline">
										Credit for federal tax paid on fuels (attach Form 4136)
									</span>
									<div class="floatsection">
										<span class="numbering">
											23c
										</span>
										<input type="text" class="longinput">
										<input type="text" class="shortinput">
									</div>
									<div class="right-section">
										<span class="numbering b-bg">
											
										</span>
									</div>
								</div>
							</li>
							<li>
								<div class="line-div">
									<span class="doline">
										Add lines 23a through 23c
									</span>
									<div class="right-section">
										<span class="numbering">
											23d
										</span>
										<input type="text" class="longinput">
										<input type="text" class="shortinput">
									</div>
								</div>
							</li>
						</ul>
					</li>
					<li>
						<span class="num">24</span>
						<div class="line-div">
							<span>Estimated tax penalty (see instructions). Check if Form 2220 is attached  </span>
							<div class="right-section">
								<span class="numbering">
									24
								</span>
								<input type="text" class="longinput">
								<input type="text" class="shortinput">
							</div>
						</div>
					</li>
					<li>
						<span class="num">25</span>
						<div class="line-div">
							<span><b>Amount owed.</b> If line 23d is smaller than the total of lines 22c and 24, enter amount owed   </span>
							<div class="right-section">
								<span class="numbering">
									25
								</span>
								<input type="text" class="longinput">
								<input type="text" class="shortinput">
							</div>
						</div>
					</li>
					<li>
						<span class="num">26</span>
						<div class="line-div">
							<span><b>Overpayment.</b> If line 23d is larger than the total of lines 22c and 24, enter amount overpaid  </span>
							<div class="right-section">
								<span class="numbering">
									26
								</span>
								<input type="text" class="longinput">
								<input type="text" class="shortinput">
							</div>
						</div>
					</li>
					<li>
						<span class="num">27</span>
						<div class="line-div">
							<span>Enter amount from line 26 <b>Credited to 2016 estimated tax</b> <span class="trg"></span> <input type="text" name="" class="wth100"> <input type="text" class="wth30"> Refund <span class="trg"></span></span>
							<div class="right-section">
								<span class="numbering">
									27
								</span>
								<input type="text" class="longinput">
								<input type="text" class="shortinput">
							</div>
						</div>
					</li>
				</ul>
				<p class="divname"> Tax and Payments </p>
			</div>	
			<div class="signdiv clearfix">
				<h1>Sign<br> Here</h1>
				<div class="signdetail">
					<p>Under penalties of perjury, I declare that I have examined this return, including accompanying schedules and statements, and to the best of my knowledge and belief, it is true,correct, and complete. Declaration of preparer (other than taxpayer) is based on all information of which preparer has any knowledge. </p>
					<div class="clearfix">
						<div class="signature-section">
							<div class="clearfix">
								<div class="signatuerline">
									<hr>
									Signature
								</div>
								<div class="date-line">
									<input type="text" name="" class="date">
									<hr>
									Date
								</div>
							</div>
						</div>
						<div class="title-section">
							<input type="text" name="" class="input-full">
							<hr>
							Title
						</div>
						<div class="irs-section clearfix">
							May the IRS discuss this return with the preparer shown below (see instructions)? 
							<div class="yesno">
								<input type="checkbox" name="yes">Yes
								<input type="checkbox" name="No">No
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="paidpreparer clearfix">
				<h1>Paid <br> Preparer <br>Use Only</h1>
				<div class="paidpreparer-detail">
					<table class="bdr">
						<tr>
							<td>
								Print/Type preparer's name
								<input type="text" class="input-full" name="">
							</td>
							<td class="w120">
								Preparer's signature
							</td>
							<td>
								Date
								<input type="text" class="input-full date-input" name="">
							</td>
							<td>
								<span class="db-ib">Check <input type="checkbox" name=""> if <br> Self-employed</span>
							</td>
							<td>
								PTIN
								<input type="text" class="input-full date-input" name="">
							</td>
						</tr>
					</table>
					<div class="qas clearfix">
						<div class="long-qas">
							<div class="qas1 clearfix">
								<span>Firm's name <i class="trg"></i></span>
								<input type="text" class="input-full">
							</div>
							<div class="qas1 clearfix">
								<span>Firm's address <i class="trg"></i></span>
								<input type="text" class="input-full">
							</div>
						</div>
						<div class="short-qas">
							<div class="qas1 clearfix">
								<span>Firm's EIN <i class="trg"></i></span>
								<input type="text" class="input-full">
							</div>
							<div class="qas1 clearfix">
								<span>Phone no. <i class="trg"></i></span>
								<input type="text" class="input-full">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</div>

<div id="1120Spg2" class="tabcontent">
	<body>
	<div class="wholepage">
		<div class="pagewrapper">
			<div class="hpageinfo clearfix bdr-bottom">
				<p class="pull-left">Form 1120S(2015)</p>
				<p class="pull-right">Page <span>2</span></p>
			</div>
			<div class="form-content">
				<form>
					<div class="forcalender clearfix bdr-bottom">
						<span class="Schedulename">Schedule B </span>	<b>Other Information</b>  (see instructions) 
					</div>
				</form>
			</div>
			<div class="sheduleb">
				<div class="sheduleb-left">
					<ul class="sheduleb-list">
						<li>
							<span class="numbli">1</span>
							<div class="sheduleline">
								Check accounting method: 
								<span class="space-30"></span>
								<strong>a</strong> <input type="checkbox" name="">Cash  
								<span class="space-30"></span>
								<strong>b</strong> <input type="checkbox" name="">Accural
							</div>
							<div class="sheduleline">
								<span class="space-30"></span>
								<span class="space-30"></span>
								<span class="space-30"></span>
								<span class="space-30"></span>
								<span class="space-30"></span>
								<strong>c</strong> <input type="checkbox" name="">Other (specify) <span class="trg"></span>
								<div class="box-file box-400"></div>
							</div>
						</li>
						<li>
							<span class="numbli">2</span>
							<div class="sheduleline">
								See the instructions and enter the: 
							</div>
							<div class="sheduleline">
								<strong>a </strong> Business activity <span class="trg"></span>
								<div class="box-file box-200"></div>
								<strong>a </strong> Product or service <span class="trg"></span>
								<div class="box-file box-200"></div>
							</div>
						</li>
						<li>
							<span class="numbli">3</span>
							<div class="sheduleline">
								At any time during the tax year, was any shareholder of the corporation a disregarded entity, a trust, an estate, or a nominee or similar person? If "Yes," attach Schedule B-1, Information on Certain Shareholders of an S Corporation . . 4 At the end of the tax year, did the corporation:
								<div class="check-input">
									<div class="yesnob"><input type="checkbox" name=""></div>
									<div class="yesnob"><input type="checkbox" name=""></div>
								</div>
							</div>
						</li>
						<li>
							<span class="numbli">4</span>
							<div class="sheduleline">At the end of the tax year, did the corporation:</div>
							<ul>
								<li>
								
									<div class="sheduleline">Own directly 20% or more, or own, directly or indirectly, 50% or more of the total stock issued and outstanding of any foreign or domestic corporation? For rules of constructive ownership, see instructions. If “Yes,” complete (i) through (v) below <span class="dottedline"></span>
										<div class="check-input">
											<div class="yesnob"><input type="checkbox" name=""></div>
											<div class="yesnob"><input type="checkbox" name=""></div>
										</div>
									</div>
									<table class="ftable">
										<tr>
											<td>(i) Name of Corporation</td>
											<td>(ii) Employer Identification Number <br> (if any)</td>
											<td>
												(iii) Country of <br>Incorporation
											</td>
											<td>
												(iv) Percentage of Stock <br>Owned
											</td>
											<td>
												(v) If Percentage in (iv) is 100%, Enter the <br>Date (if any) a Qualified Subchapter S<br> Subsidiary Election Was Made
											</td>
										</tr>
										<tr>
											<td><div class="fullb box-file"></div></td>
											<td><div class="fullb box-file"></div></td>
											<td><div class="fullb box-file"></div></td>
											<td><div class="fullb box-file"></div></td>
											<td><div class="fullb box-file"></div></td>
										</tr>
										<tr>
											<td><div class="fullb box-file"></div></td>
											<td><div class="fullb box-file"></div></td>
											<td><div class="fullb box-file"></div></td>
											<td><div class="fullb box-file"></div></td>
											<td><div class="fullb box-file"></div></td>
										</tr>
										<tr>
											<td><div class="fullb box-file"></div></td>
											<td><div class="fullb box-file"></div></td>
											<td><div class="fullb box-file"></div></td>
											<td><div class="fullb box-file"></div></td>
											<td><div class="fullb box-file"></div></td>
										</tr>
										<tr>
											<td><div class="fullb box-file"></div></td>
											<td><div class="fullb box-file"></div></td>
											<td><div class="fullb box-file"></div></td>
											<td><div class="fullb box-file"></div></td>
											<td><div class="fullb box-file"></div></td>
										</tr>
									</table>
								</li>
								<li>
								
									<div class="sheduleline">Own directly an interest of 20% or more, or own, directly or indirectly, an interest of 50% or more in the profit, loss, or capital in any foreign or domestic partnership (including an entity treated as a partnership) or in the beneficial interest of a trust? For rules of constructive ownership, see instructions. If “Yes,” complete (i) through (v) below<span class="dottedline"></span>
										<div class="check-input">
											<div class="yesnob"><input type="checkbox" name=""></div>
											<div class="yesnob"><input type="checkbox" name=""></div>
										</div>
									</div>
									<table class="ftable">
										<tr>
											<td>(i) Name of Entity</td>
											<td>(ii) Employer Identification Number <br> (if any)</td>
											<td>
												(iii) Type of Entity
											</td>
											<td>
												(iv) Country of <br>Organization
											</td>
											<td>
												(v) Maximum Percentage Owned in Profit, <br>Loss, or Capital
											</td>
										</tr>
										<tr>
											<td><div class="fullb box-file"></div></td>
											<td><div class="fullb box-file"></div></td>
											<td><div class="fullb box-file"></div></td>
											<td><div class="fullb box-file"></div></td>
											<td><div class="fullb box-file"></div></td>
										</tr>
										<tr>
											<td><div class="fullb box-file"></div></td>
											<td><div class="fullb box-file"></div></td>
											<td><div class="fullb box-file"></div></td>
											<td><div class="fullb box-file"></div></td>
											<td><div class="fullb box-file"></div></td>
										</tr>
										<tr>
											<td><div class="fullb box-file"></div></td>
											<td><div class="fullb box-file"></div></td>
											<td><div class="fullb box-file"></div></td>
											<td><div class="fullb box-file"></div></td>
											<td><div class="fullb box-file"></div></td>
										</tr>
										<tr>
											<td><div class="fullb box-file"></div></td>
											<td><div class="fullb box-file"></div></td>
											<td><div class="fullb box-file"></div></td>
											<td><div class="fullb box-file"></div></td>
											<td><div class="fullb box-file"></div></td>
										</tr>
									</table>
								</li>
									
							</ul>
							
						</li>
						<li>
							<span class="numbli">5</span>
							<ul>
								<li>
									<div class="sheduleline">
										a At the end of the tax year, did the corporation have any outstanding shares of restricted stock? <span class="dottedline"></span>
										<div class="check-input">
											<div class="yesnob"><input type="checkbox" name=""></div>
											<div class="yesnob"><input type="checkbox" name=""></div>
										</div>
									</div>
									<div class="sheduleline marg-68">
										<p>If “Yes,” complete lines (i) and (ii) below</p>
										<strong>(i)</strong> Total shares of restricted stock<span class="dottedline"></span>
										<div class="right-230">
											<span class="trg"></span>	
											<div class="box-file box-200"></div>
										</div>
									</div>	
									<div class="sheduleline marg-68 clearfix">
										<strong>(ii)</strong> Total shares of non-restricted stock <span class="dottedline"></span>
										<div class="right-230">
											<span class="trg"></span>	
											<div class="box-file box-200"></div>
										</div>
									</div>	
								</li>
								<li>
									<div class="sheduleline">
										At the end of the tax year, did the corporation have any outstanding stock options, warrants, or similar instruments? .
										<div class="check-input">
											<div class="yesnob"><input type="checkbox" name=""></div>
											<div class="yesnob"><input type="checkbox" name=""></div>
										</div>
									</div>
									<div class="sheduleline marg-68">
										<p>If “Yes,” complete lines (i) and (ii) below</p>
										<strong>(i)</strong> Total shares of stock outstanding at the end of the tax year 
										<span class="trg"></span>	
										<div class="box-file box-250"></div>
									</div>	
									<div class="sheduleline marg-68 clearfix">
										<strong>(ii)</strong>Total shares of stock outstanding if all instruments were executed
										<span class="trg"></span>	
										<div class="box-file box-250"></div>
									</div>	
								</li>
							</ul>
						</li>
						<li>
							<span class="numbli">6</span>
							<div class="sheduleline">
								Has this corporation filed, or is it required to file, <b>Form 8918</b>, Material Advisor<br> Disclosure Statement, to provide information on any reportable transaction?  <span class="dottedline"></span>
								<div class="check-input">
									<div class="yesnob"><input type="checkbox" name=""></div>
									<div class="yesnob"><input type="checkbox" name=""></div>
								</div>
							</div>
						</li>
						<li>
							<span class="numbli">7</span>
							<div class="sheduleline">
								Check this box if the corporation issued publicly offered debt instruments with original issue discount ................. <input type="checkbox" name="">
								<br>
								If checked, the corporation may have to file <b>Form 8281,</b> Information Return for Publicly Offered Original Issue Discount Instruments
							</div>
						</li>
						<li>
							<span class="numbli">8</span>
							<div class="sheduleline">
								If the corporation: (a) was a C corporation before it elected to be an S corporation or the corporation acquired an asset with a basis determined by reference to the basis of the asset (or the basis of any other property) in the hands of a C corporation and (b) has net unrealized built-in gain in excess of the net recognized built-in gain from prior years, enter the net unrealized built-in gain reduced by net recognized built-in gain from prior years (see instructions) . . . . . . . . . <span class="trg"></span> $ <div class="box-file box-250"></div>
							</div>
						</li>
						<li>
							<span class="numbli">9</span>
							<div class="sheduleline">
								Enter the accumulated earnings and profits of the corporation at the end of the tax year. <span class="space-20"></span><div class="box-file box-150"></div>
							</div>
						</li>
						<li>
							<span class="numbli">10</span>
							<div class="sheduleline">Does the corporation satisfy both of the following conditions?</div>
							<ul>
								<li>
									<div class="sheduleline">The corporation’s total receipts (see instructions) for the tax year were less than $250,000 .</div>
								</li>
								<li>
									<div class="sheduleline">
										The corporation’s total assets at the end of the tax year were less than $250,000<span class="dottedline"></span>
										<div class="check-input">
											<div class="yesnob"><input type="checkbox" name=""></div>
											<div class="yesnob"><input type="checkbox" name=""></div>
										</div>
									</div>
									<div class="sheduleline">If “Yes,” the corporation is not required to complete Schedules L and M-1.</div>
								</li>
							</ul>		
						</li>
						<li>
							<span class="numbli">11</span>
							<div class="sheduleline">
								During the tax year, did the corporation have any non-shareholder debt that was canceled, was forgiven, or had the terms <br>modified so as to reduce the principal amount of the debt?  <span class="dottedline"></span>
								<div class="check-input">
									<div class="yesnob"><input type="checkbox" name=""></div>
									<div class="yesnob"><input type="checkbox" name=""></div>
								</div>
							</div>
							<div class="sheduleline">
								If “Yes,” enter the amount of principal reduction $ <div class="box-file box-400"></div>
							</div>
						</li>
						<li>
							<span class="numbli">12</span>
							<div class="sheduleline">
								During the tax year, was a qualified subchapter S subsidiary election terminated or revoked? If “Yes,” see instructions .
								<div class="check-input">
									<div class="yesnob"><input type="checkbox" name=""></div>
									<div class="yesnob"><input type="checkbox" name=""></div>
								</div>
							</div>
							
						</li>
						<li>
							<span class="numbli">13</span>
							<ul>
								<li>
									<div class="sheduleline">
										Did the corporation make any payments in 2015 that would require it to file Form(s) 1099? <span class="dottedline"></span>
										<div class="check-input">
											<div class="yesnob"><input type="checkbox" name=""></div>
											<div class="yesnob"><input type="checkbox" name=""></div>
										</div>
									</div>
								</li>
								<li>
									<div class="sheduleline">
										If “Yes,” did the corporation file or will it file required Forms 1099? <span class="dottedline"></span>
										<div class="check-input">
											<div class="yesnob"><input type="checkbox" name=""></div>
											<div class="yesnob"><input type="checkbox" name=""></div>
										</div>
									</div>
								</li>
							</ul>		
						</li>
					</ul>
				</div>
				<div class="sheduleb-right">
					<div class="yes-div">
						<span>Yes</span>
					</div>
					<div class="no-div">
						<span>No</span>
					</div>
				</div>
			</div>
			<div class="hpageinfo clearfix bdr-top">
				<p class="pull-right">From <span> 1120S </span> (2015)</p>

			</div>
		</div>
	</div>
</body>
</div>

<div id="1120Spg3" class="tabcontent">
  
<body>
	<div class="wholepage">
		<div class="pagewrapper">
			<div class="hpageinfo clearfix bdr-bottom">
				<p class="pull-left">Form 1120S(2015)</p>
				<p class="pull-right">Page <span>3</span></p>
			</div>
			<div class="form-content">
				<form>
					<div class="forcalender clearfix bdr-bottom">
						<span class="Schedulename">Schedule K </span>	<b>Shareholders’ Pro Rata Share Items</b><span class="total-amount"><strong>Total amount</strong></span> 
					</div>
				</form>
			</div>
			<div class="div-top schedulek incomeloss">
				<ul class="list-input">
					<li>
						<span class="num">1</span>
						<div class="line-div">
							<span>Ordinary business income (loss) (page 1, line 21)</span>
							<div class="right-section">
								<span class="numbering">
									1
								</span>
								<input type="text" class="longinput">
								<input type="text" class="shortinput">
							</div>
						</div>
					</li>
					<li>
						<span class="num">2</span>
						<div class="line-div">
							<span>Net rental real estate income (loss) (attach Form 8825)</span>
							<div class="right-section">
								<span class="numbering">
									2
								</span>
								<input type="text" class="longinput">
								<input type="text" class="shortinput">
							</div>
						</div>
					</li>
					<li><span class="num">3</span>
						<ul>
							<li>
								<div class="line-div">
									<span class="doline">
										Other gross rental income (loss) 
									</span>
									<div class="floatsection">
										<span class="numbering">
											3a
										</span>
										<input type="text" class="longinput">
										<input type="text" class="shortinput">
									</div>
									<div class="right-section">
										<span class="numbering b-bg">
											
										</span>
									</div>
								</div>
							</li>
							<li>
								<div class="line-div">
									<span class="doline">
										Expenses from other rental activities (attach statement)
									</span>
									<div class="floatsection">
										<span class="numbering">
											3b
										</span>
										<input type="text" class="longinput">
										<input type="text" class="shortinput">
									</div>
									<div class="right-section">
										<span class="numbering b-bg">
											
										</span>
									</div>
								</div>
							</li>
							<li>
								<div class="line-div">
									<span class="doline">
										 Other net rental income (loss). Subtract line 3b from line 3a 
									</span>
									<div class="right-section">
										<span class="numbering">
											3c
										</span>
										<input type="text" class="longinput">
										<input type="text" class="shortinput">
									</div>
								</div>
							</li>
						</ul>
					</li>
					<li>
						<span class="num">4</span>
						<div class="line-div">
							<span>Interest income</span>
							<div class="right-section">
								<span class="numbering">
									4
								</span>
								<input type="text" class="longinput">
								<input type="text" class="shortinput">
							</div>
						</div>
					</li>
					<li class="">
						<span class="num">5 Dividends:</span>
						<ul class="dividend">
							<li>
								<div class="line-div">
									<span>Ordinary dividends</span>
									<div class="right-section">
										<span class="numbering">
											5a
										</span>
										<input type="text" class="longinput">
										<input type="text" class="shortinput">
									</div>
								</div>
							</li>
							<li>
								<div class="line-div">
									<span class="doline">
										Qualified dividends
									</span>
									<div class="floatsection">
										<span class="numbering">
											5b
										</span>
										<input type="text" class="longinput">
										<input type="text" class="shortinput">
									</div>
									<div class="right-section">
										<span class="numbering b-bg">
											
										</span>
									</div>
								</div>
							</li>
						</ul>
								
					</li>
					<li>
						<span class="num">6</span>
						<div class="line-div">
							<span><b>Royalties</b> </span>
							<div class="right-section">
								<span class="numbering">
									6
								</span>
								<input type="text" class="longinput">
								<input type="text" class="shortinput">
							</div>
						</div>
					</li>
					<li>
						<span class="num">7</span>
						<div class="line-div">
							<span>Net short-term capital gain (loss) (attach Schedule D (Form  1120S)) </span>
							<div class="right-section">
								<span class="numbering">
									7
								</span>
								<input type="text" class="longinput">
								<input type="text" class="shortinput">
							</div>
						</div>
					</li>
					<li>
						<span class="num">8</span>
						<ul class="">
							<li>
								<div class="line-div">
									<span>Net long-term capital gain (loss) (attach Schedule D (Form 1120S)) </span>
									<div class="right-section">
										<span class="numbering">
											8a
										</span>
										<input type="text" class="longinput">
										<input type="text" class="shortinput">
									</div>
								</div>
							</li>
							<li>
								<div class="line-div">
									<span class="doline">
										Collectibles (28%) gain (loss) .
									</span>
									<div class="floatsection">
										<span class="numbering">
											8b
										</span>
										<input type="text" class="longinput">
										<input type="text" class="shortinput">
									</div>
									<div class="right-section">
										<span class="numbering b-bg">
											
										</span>
									</div>
								</div>
							</li>
							<li>
								<div class="line-div">
									<span class="doline">
										Unrecaptured section 1250 gain (attach statement) 
									</span>
									<div class="floatsection">
										<span class="numbering">
											8c
										</span>
										<input type="text" class="longinput">
										<input type="text" class="shortinput">
									</div>
									<div class="right-section">
										<span class="numbering b-bg">
											
										</span>
									</div>
								</div>
							</li>
						</ul>
					</li>
					<li>
						<span class="num">9</span>
						<div class="line-div">
							<span>Net section 1231 gain (loss) (attach Form 4797) </span>
							<div class="right-section">
								<span class="numbering">
									9
								</span>
								<input type="text" class="longinput">
								<input type="text" class="shortinput">
							</div>
						</div>
					</li>
					<li>
						<span class="num">10</span>
						<div class="line-div">
							<span>Other income (loss) (see instructions)</span>
							<span class="pull-right">Type <span class="trg"></span> <input type="text" name=""></span>
							<div class="right-section">
								<span class="numbering">
									10
								</span>
								<input type="text" class="longinput">
								<input type="text" class="shortinput">
							</div>
						</div>
					</li>
				</ul>
				<h3 class="divname"> Income(Loss) </h3>
			</div>
			<div class="div-top schedulek bdr-bottom deduction2">
				<ul class="list-input">
					<li>
						<span class="num">11</span>
						<div class="line-div">
							<span>Section 179 deduction (attach Form 4562) </span>
							<div class="right-section">
								<span class="numbering">
									11
								</span>
								<input type="text" class="longinput">
								<input type="text" class="shortinput">
							</div>
						</div>
					</li>
					<li>
						<span class="num">12</span>
						<ul>
							<li>
								<div class="line-div">
									<span>Charitable contributions </span>
									<div class="right-section">
										<span class="numbering">
											12a
										</span>
										<input type="text" class="longinput">
										<input type="text" class="shortinput">
									</div>
								</div>
							</li>
							<li>
								<div class="line-div">
									<span>Investment interest expense</span>
									<div class="right-section">
										<span class="numbering">
											12b
										</span>
										<input type="text" class="longinput">
										<input type="text" class="shortinput">
									</div>
								</div>
							</li>
							<li>
								<div class="line-div">
									<span>Other deductions (see instructions) </span>
									<span class="pull-right">Type <span class="trg"></span> <input type="text" name=""></span>
									<div class="right-section">
										<span class="numbering">
											<span>12c(2)</span>
										</span>
										<input type="text" class="longinput">
										<input type="text" class="shortinput">
									</div>
								</div>
							</li>
							<li>
								<div class="line-div">
									<span>Other deductions (see instructions) </span>
									<span class="pull-right">Type <span class="trg"></span> <input type="text" name=""></span>
									<div class="right-section">
										<span class="numbering">
											12d
										</span>
										<input type="text" class="longinput">
										<input type="text" class="shortinput">
									</div>
								</div>
							</li>
						</ul>
					</li>
				</ul>
				<h3 class="divname">Deductions</h3>
			</div>
			<div class="div-top schedulek credits">
				<ul class="list-input">
					<li>
						<span class="num">13</span>
						<ul>
							<li>
								<div class="line-div">
									<span>Low-income housing credit (section 42(j)(5)) </span>
									<div class="right-section">
										<span class="numbering">
											13a
										</span>
										<input type="text" class="longinput">
										<input type="text" class="shortinput">
									</div>
								</div>
							</li>
							<li>
								<div class="line-div">
									<span>Low-income housing credit (other)</span>
									<div class="right-section">
										<span class="numbering">
											13b
										</span>
										<input type="text" class="longinput">
										<input type="text" class="shortinput">
									</div>
								</div>
							</li>
							<li>
								<div class="line-div">
									<span>Qualified rehabilitation expenditures (rental real estate) (attach Form 3468, if applicable)</span>
									<div class="right-section">
										<span class="numbering">
											13c
										</span>
										<input type="text" class="longinput">
										<input type="text" class="shortinput">
									</div>
								</div>
							</li>
							<li>
								<div class="line-div">
									<span>Other rental real estate credits (see instructions) </span>
									<span class="pull-right">Type <span class="trg"></span> <input type="text" name=""></span>
									<div class="right-section">
										<span class="numbering">
											13d
										</span>
										<input type="text" class="longinput">
										<input type="text" class="shortinput">
									</div>
								</div>
							</li>
							<li>
								<div class="line-div">
									<span>Other rental credits (see instructions) </span>
									<span class="post-245">Type <span class="trg"></span> <input type="text" name=""></span>
									<div class="right-section">
										<span class="numbering">
											13e
										</span>
										<input type="text" class="longinput">
										<input type="text" class="shortinput">
									</div>
								</div>
							</li>
							<li>
								<div class="line-div">
									<span>Biofuel producer credit (attach Form 6478)</span>
									<div class="right-section">
										<span class="numbering">
											13f
										</span>
										<input type="text" class="longinput">
										<input type="text" class="shortinput">
									</div>
								</div>
							</li>
							<li>
								<div class="line-div">
									<span>Other credits (see instructions)  </span>
									<span class="pull-right">Type <span class="trg"></span> <input type="text" name=""></span>
									<div class="right-section">
										<span class="numbering">
											13g
										</span>
										<input type="text" class="longinput">
										<input type="text" class="shortinput">
									</div>
								</div>
							</li>
						</ul>
					</li>
				</ul>
				<h3 class="divname">Credits</h3>
			</div>	
			<div class="div-top schedulek ftrans">
				<ul class="list-input">
					<li>
						<span class="num">14</span>
						<ul>
							<li>
								<div class="line-div">
									<span>Name of country or U.S. possession <span class="trg"></span> <input type="text"> </span>
									<div class="right-section">
										<span class="numbering b-bg">
											
										</span>
										
									</div>
								</div>
							</li>
							<li>
								<div class="line-div">
									<span>Gross income from all sources</span>
									<div class="right-section">
										<span class="numbering">
											14b
										</span>
										<input type="text" class="longinput">
										<input type="text" class="shortinput">
									</div>
								</div>
							</li>
							<li>
								<div class="line-div">
									<span>Gross income sourced at shareholder level</span>
									<div class="right-section">
										<span class="numbering">
											14c
										</span>
										<input type="text" class="longinput">
										<input type="text" class="shortinput">
									</div>
								</div>
								<div class="line-div line-div2">
									<span>Gross income sourced at shareholder level</span>
									<div class="right-section">
										<span class="numbering b-bg">
											
										</span>
										
									</div>
								</div>
							</li>
							<li>
								<div class="line-div">
									<span>Passive category</span>
									<div class="right-section">
										<span class="numbering">
											14d
										</span>
										<input type="text" class="longinput">
										<input type="text" class="shortinput">
									</div>
									<div class="clearfix"></div>
								</div>
							</li>
							<li>
								<div class="line-div">
									<span>General category </span>
									<div class="right-section">
										<span class="numbering">
											14e
										</span>
										<input type="text" class="longinput">
										<input type="text" class="shortinput">
									</div>
								</div>
							</li>

							<li>
								<div class="line-div">
									<span>Other (attach statement) </span>
									<div class="right-section">
										<span class="numbering">
											14f
										</span>
										<input type="text" class="longinput">
										<input type="text" class="shortinput">
									</div>
								</div>
								<div class="line-div line-div2">
									<span>Deductions allocated and apportioned at shareholder level </span>
									<div class="right-section">
										<span class="numbering b-bg">
											
										</span>
										
									</div>
								</div>
							</li>
							<li>
								<div class="line-div">
									<span>Interest expense</span>
									<div class="right-section">
										<span class="numbering">
											14g
										</span>
										<input type="text" class="longinput">
										<input type="text" class="shortinput">
									</div>
								</div>
							</li>
							<li>
								<div class="line-div">
									<span> Other</span>
									<div class="right-section">
										<span class="numbering">
											14h
										</span>
										<input type="text" class="longinput">
										<input type="text" class="shortinput">
									</div>
								</div>
								<div class="line-div line-div2">
									<span>Deductions allocated and apportioned at corporate level to foreign source income </span>
									<div class="right-section">
										<span class="numbering b-bg">
										</span>
									</div>
								</div>
							</li>
							<li>
								<div class="line-div">
									<span>Passive category </span>
									<div class="right-section">
										<span class="numbering">
											14i
										</span>
										<input type="text" class="longinput">
										<input type="text" class="shortinput">
									</div>
								</div>
							</li>
							<li>
								<div class="line-div">
									<span>General category</span>
									<div class="right-section">
										<span class="numbering">
											14j
										</span>
										<input type="text" class="longinput">
										<input type="text" class="shortinput">
									</div>
								</div>
							</li>
							<li>
								<div class="line-div">
									<span>Other (attach statement) </span>
									<div class="right-section">
										<span class="numbering">
											14k
										</span>
										<input type="text" class="longinput">
										<input type="text" class="shortinput">
									</div>
								</div>
								<div class="line-div line-div2">
									<span>Other information </span>
									<div class="right-section">
										<span class="numbering b-bg">
										</span>
									</div>
								</div>
							</li>
							<li>
								<div class="line-div">
									<span>Total foreign taxes (check one): <span class="trg"></span> <input type="checkbox" name=""> Paid <input type="checkbox" name=""> Accrued  </span>
									<div class="right-section">
										<span class="numbering">
											14l
										</span>
										<input type="text" class="longinput">
										<input type="text" class="shortinput">
									</div>
								</div>
							</li>
							<li>
								<div class="line-div">
									<span>Reduction in taxes available for credit (attach statement)</span>
									<div class="right-section">
										<span class="numbering">
											14m
										</span>
										<input type="text" class="longinput">
										<input type="text" class="shortinput">
									</div>
								</div>
							</li>
							<li>
								<div class="line-div">
									<span>Other foreign tax information (attach statement)</span>
									<div class="right-section">
										<span class="numbering">
											14n
										</span>
										<input type="text" class="longinput">
										<input type="text" class="shortinput">
									</div>
								</div>
							</li>
						</ul>
					</li>
				</ul>
				<h3 class="divname">Foreign Transactions </h3>
			</div>	
			<div class="div-top schedulek atm">
				<ul class="list-input">
					<li>
						<span class="num">15</span>
						<ul>
							<li>
								<div class="line-div">
									<span>Post-1986 depreciation adjustment</span>
									<div class="right-section">
										<span class="numbering">
											15a
										</span>
										<input type="text" class="longinput">
										<input type="text" class="shortinput">
									</div>
								</div>
							</li>
							<li>
								<div class="line-div">
									<span>Adjusted gain or loss </span>
									<div class="right-section">
										<span class="numbering">
											15b
										</span>
										<input type="text" class="longinput">
										<input type="text" class="shortinput">
									</div>
								</div>
							</li>
							<li>
								<div class="line-div">
									<span>Depletion (other than oil and gas) </span>
									<div class="right-section">
										<span class="numbering">
											15c
										</span>
										<input type="text" class="longinput">
										<input type="text" class="shortinput">
									</div>
								</div>
							</li>
							<li>
								<div class="line-div">
									<span>Oil, gas, and geothermal properties—gross income</span>
									<div class="right-section">
										<span class="numbering">
											15d
										</span>
										<input type="text" class="longinput">
										<input type="text" class="shortinput">
									</div>
								</div>
							</li>
							<li>
								<div class="line-div">
									<span>Oil, gas, and geothermal properties—deductions </span>
									<div class="right-section">
										<span class="numbering">
											15e
										</span>
										<input type="text" class="longinput">
										<input type="text" class="shortinput">
									</div>
								</div>
							</li>
							<li>
								<div class="line-div">
									<span>Other AMT items (attach statement) </span>
									<div class="right-section">
										<span class="numbering">
											15f
										</span>
										<input type="text" class="longinput">
										<input type="text" class="shortinput">
									</div>
								</div>
							</li>
						</ul>
					</li>
				</ul>
				<h3 class="divname"><span>Alternative<br>Minimum Tax<br> (AMT) Items</span></h3>
			</div>
			<div class="div-top schedulek basis100">
				<ul class="list-input">
					<li>
						<span class="num">16</span>
						<ul>
							<li>
								<div class="line-div">
									<span>Tax-exempt interest income </span>
									<div class="right-section">
										<span class="numbering">
											16a
										</span>
										<input type="text" class="longinput">
										<input type="text" class="shortinput">
									</div>
								</div>
							</li>
							<li>
								<div class="line-div">
									<span>Other tax-exempt income </span>
									<div class="right-section">
										<span class="numbering">
											16b
										</span>
										<input type="text" class="longinput">
										<input type="text" class="shortinput">
									</div>
								</div>
							</li>
							<li>
								<div class="line-div">
									<span>Nondeductible expenses</span>
									<div class="right-section">
										<span class="numbering">
											16c
										</span>
										<input type="text" class="longinput">
										<input type="text" class="shortinput">
									</div>
								</div>
							</li>
							<li>
								<div class="line-div">
									<span>Distributions (attach statement if required) (see instructions)</span>
									<div class="right-section">
										<span class="numbering">
											16d
										</span>
										<input type="text" class="longinput">
										<input type="text" class="shortinput">
									</div>
								</div>
							</li>
							<li>
								<div class="line-div">
									<span>Repayment of loans from shareholders </span>
									<div class="right-section">
										<span class="numbering">
											16e
										</span>
										<input type="text" class="longinput">
										<input type="text" class="shortinput">
									</div>
								</div>
							</li>
						</ul>
					</li>
				</ul>
				<h3 class="divname"><span>tems Affecting<br>Shareholder<br>Basis </span></h3>
			</div>
			<div class="hpageinfo clearfix bdr-top">
				<p class="pull-right">From <span> 1120S </span> (2015)</p>

			</div>
		</div>
	</div>
</body>

</div>

<div id="1120Spg4" class="tabcontent">
	
<body>
	<div class="wholepage">
		<div class="pagewrapper">
			<div class="hpageinfo clearfix bdr-bottom">
				<p class="pull-left">Form 1120S(2015)</p>
				<p class="pull-right">Page <span>4</span></p>
			</div>
			<div class="form-content">
				<form>
					<div class="forcalender clearfix bdr-bottom">
						<span class="Schedulename">Schedule K </span>	<b>Shareholders’ Pro Rata Share Items</b><span class="total-amount"><strong>Total amount</strong></span> 
					</div>
				</form>
			</div>
			<div class="div-top schedulek otherinfo">
				<ul class="list-input">
					<li>
						<span class="num">17</span>
						<ul>
							<li>
								<div class="line-div">
									<span>Investment income </span>
									<div class="right-section">
										<span class="numbering">
											17a
										</span>
										<div class="longinput"></div>
										<div class="shortinput"></div>
									</div>
								</div>
							</li>
							<li>
								<div class="line-div">
									<span>Investment expenses  </span>
									<div class="right-section">
										<span class="numbering">
											17b
										</span>
										<input type="text" class="longinput">
										<input type="text" class="shortinput">
									</div>
								</div>
							</li>
							<li>
								<div class="line-div">
									<span>Dividend distributions paid from accumulated earnings and profits</span>
									<div class="right-section">
										<span class="numbering">
											17c
										</span>
										<input type="text" class="longinput">
										<input type="text" class="shortinput">
									</div>
								</div>
							</li>
							<li>
								<div class="line-div">
									<span> Other items and amounts (attach statement)</span>
									<div class="right-section">
										<span class="numbering">
											17d
										</span>
										
									</div>
								</div>
							</li>
						</ul>
					</li>
				</ul>
				<h3 class="divname"><span>Other <br> Information</span></h3>
			</div>
			<div class="div-top schedulek last-divtop">
				<ul class="list-input">
					<li>
						<span class="num">18</span>
						<span class="normal-font"><b>Income/loss reconciliation.</b> Combine the amounts on lines 1 through 10 in the far right</span> 
						<div class="line-div">
							<span>column. From the result, subtract the sum of the amounts on lines 11 through 12d and 14l </span>
							<div class="right-section">
								<span class="numbering">18</span>
								<div class="longinput"></div>
								<div class="shortinput"></div>
							</div>
						</div>

					</li>
				</ul>
				<h3 class="divname"><span>Reconciliation</span></h3>
			</div>
			<table class="m2table tablef4">
				<tr>
					<td>
						<div class="forcalender clearfix bdr-bottom schedulem1 ">
							<span class="Schedulename">Schedule L </span><b>Balance Sheets per Books </b> 
						</div>
					</td>
					<td colspan="2">
						Beginning of tax year 
					</td>
					<td colspan="2">
						End of tax year
					</td>
				</tr>
				<tr>
					<td><div class="text-center"><strong>Assets</strong></div></td>
					<td><div class="w-space">(a)</div></td>
					<td><div class="w-space">(b)</div></td>
					<td><div class="w-space">(c)</div></td>
					<td><div class="w-space">(d)</div></td>
				</tr>
				<tr>
					<td><span class="space-25">1</span>Cash <span class="dottedline"></span></td>
					<td></td>
					<td><div class="box-file fullb"></div></td>
					<td></td>
					<td><div class="box-file fullb"></div></td>
				</tr>
				<tr>
					<td><span class="space-25">2a</span>Trade notes and accounts receivable <span class="dottedline"></span></td>
					<td><div class="box-file fullb"></div></td>
					<td></td>
					<td><div class="box-file fullb"></div></td>
					<td></td>
				</tr>
				<tr>
					<td><span class="space-25"><i class="space-5"></i>b</span>Less allowance for bad debts<span class="dottedline"></span></td>
					<td><div class="box-file fullb after-before"></div></td>
					<td><div class="box-file fullb"></div></td>
					<td><div class="box-file fullb after-before"></div></td>
					<td><div class="box-file fullb"></div></td>
				</tr>
				<tr>
					<td><span class="space-25">3</span>Inventories <span class="dottedline"></span></td>
					<td></td>
					<td><div class="box-file fullb"></div></td>
					<td></td>
					<td><div class="box-file fullb"></div></td>
				</tr>	
				<tr>
					<td><span class="space-25">4</span>U.S. government obligations  <span class="dottedline"></span></td>
					<td></td>
					<td><div class="box-file fullb"></div></td>
					<td></td>
					<td><div class="box-file fullb"></div></td>
				</tr>
				<tr>
					<td><span class="space-25">5</span>Tax-exempt securities (see instructions)  <span class="dottedline"></span></td>
					<td></td>
					<td><div class="box-file fullb"></div></td>
					<td></td>
					<td><div class="box-file fullb"></div></td>
				</tr>
				<tr>
					<td><span class="space-25">6</span>Other current assets (attach statement) <span class="dottedline"></span></td>
					<td></td>
					<td><div class="box-file fullb"></div></td>
					<td></td>
					<td><div class="box-file fullb"></div></td>
				</tr>
				<tr>
					<td><span class="space-25">7</span>Loans to shareholders <span class="dottedline"></span></td>
					<td></td>
					<td><div class="box-file fullb"></div></td>
					<td></td>
					<td><div class="box-file fullb"></div></td>
				</tr>
				<tr>
					<td><span class="space-25">8</span>Mortgage and real estate loans <span class="dottedline"></span></td>
					<td></td>
					<td><div class="box-file fullb"><h6>11</h6></div></td>
					<td></td>
					<td><div class="box-file fullb">22</div></td>
				</tr>
				<tr>
					<td><span class="space-25">9</span>Other investments (attach statement) <span class="dottedline"></span></td>
					<td></td>
					<td><div class="box-file fullb"></div></td>
					<td></td>
					<td><div class="box-file fullb"></div></td>
				</tr>
				<tr>
					<td><span class="space-25">10a</span>Buildings and other depreciable assets <span class="dottedline"></span></td>
					<td><div class="box-file fullb"></div></td>
					<td></td>
					<td><div class="box-file fullb"></div></td>
					<td></td>
				</tr>
				<tr>
					<td><span class="space-25"><i class="space-5"></i>b</span>Less accumulated depreciation <span class="dottedline"></span></td>
					<td><div class="box-file fullb after-before"></div></td>
					<td><div class="box-file fullb"></div></td>
					<td><div class="box-file fullb after-before"></div></td>
					<td><div class="box-file fullb"></div></td>
				</tr>
				<tr>
					<td><span class="space-25">11a</span>Depletable assets <span class="dottedline"></span></td>
					<td><div class="box-file fullb"></div></td>
					<td></td>
					<td><div class="box-file fullb"></div></td>
					<td></td>
				</tr>
				<tr>
					<td><span class="space-25"><i class="space-5"></i>b</span>Less accumulated depletion  <span class="dottedline"></span></td>
					<td><div class="box-file fullb after-before"></div></td>
					<td><div class="box-file fullb"></div></td>
					<td><div class="box-file fullb after-before"></div></td>
					<td><div class="box-file fullb"></div></td>
				</tr>
				<tr>
					<td><span class="space-25">12</span>Land (net of any amortization) <span class="dottedline"></span></td>
					<td></td>
					<td><div class="box-file fullb"></div></td>
					<td></td>
					<td><div class="box-file fullb"></div></td>
				</tr>
				<tr>
					<td><span class="space-25">13a</span>Intangible assets (amortizable only)<span class="dottedline"></span></td>
					<td><div class="box-file fullb"></div></td>
					<td></td>
					<td><div class="box-file fullb"></div></td>
					<td></td>
				</tr>
				<tr>
					<td><span class="space-25"><i class="space-5"></i>b</span>Less accumulated amortization  <span class="dottedline"></span></td>
					<td><div class="box-file fullb after-before"></div></td>
					<td><div class="box-file fullb"></div></td>
					<td><div class="box-file fullb after-before"></div></td>
					<td><div class="box-file fullb"></div></td>
				</tr>
				<tr>
					<td><span class="space-25">14</span>Other assets (attach statement) <span class="dottedline"></span></td>
					<td></td>
					<td><div class="box-file fullb"></div></td>
					<td></td>
					<td><div class="box-file fullb"></div></td>
				</tr>
				<tr>
					<td><span class="space-25">15 </span>Total assets <span class="dottedline"></span></td>
					<td></td>
					<td><div class="box-file fullb"></div></td>
					<td></td>
					<td><div class="box-file fullb"></div></td>
				</tr>
				<tr>
					<td><div class="text-center"><strong>Liabilities and Shareholders’ Equity</strong></div></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td><span class="space-25">16</span>Accounts payable <span class="dottedline"></span></td>
					<td></td>
					<td><div class="box-file fullb"></div></td>
					<td></td>
					<td><div class="box-file fullb"></div></td>
				</tr>	
				<tr>
					<td><span class="space-25">17</span>Mortgages, notes, bonds payable in less than 1 year <span class="dottedline"></span></td>
					<td></td>
					<td><div class="box-file fullb"></div></td>
					<td></td>
					<td><div class="box-file fullb"></div></td>
				</tr>	
				<tr>
					<td><span class="space-25">18</span>Other current liabilities (attach statement) <span class="dottedline"></span></td>
					<td></td>
					<td><div class="box-file fullb"></div></td>
					<td></td>
					<td><div class="box-file fullb"></div></td>
				</tr>	
				<tr>
					<td><span class="space-25">19</span>Loans from shareholders <span class="dottedline"></span></td>
					<td></td>
					<td><div class="box-file fullb"></div></td>
					<td></td>
					<td><div class="box-file fullb"></div></td>
				</tr>	
				<tr>
					<td><span class="space-25">20</span>Mortgages, notes, bonds payable in 1 year or more <span class="dottedline"></span></td>
					<td></td>
					<td><div class="box-file fullb"></div></td>
					<td></td>
					<td><div class="box-file fullb"></div></td>
				</tr>	
				<tr>
					<td><span class="space-25">21</span>Other liabilities (attach statement) <span class="dottedline"></span></td>
					<td></td>
					<td><div class="box-file fullb"></div></td>
					<td></td>
					<td><div class="box-file fullb"></div></td>
				</tr>		
				<tr>
					<td><span class="space-25">22</span>Capital stock <span class="dottedline"></span></td>
					<td></td>
					<td><div class="box-file fullb"></div></td>
					<td></td>
					<td><div class="box-file fullb"></div></td>
				</tr>	
				<tr>
					<td><span class="space-25">23</span>Additional paid-in capital <span class="dottedline"></span></td>
					<td></td>
					<td><div class="box-file fullb"></div></td>
					<td></td>
					<td><div class="box-file fullb"></div></td>
				</tr>	
				<tr>
					<td><span class="space-25">24</span>Retained earnings <span class="dottedline"></span></td>
					<td></td>
					<td><div class="box-file fullb"></div></td>
					<td></td>
					<td><div class="box-file fullb"></div></td>
				</tr>	
				<tr>
					<td><span class="space-25">25</span>Adjustments to shareholders’ equity (attach statement)  <span class="dottedline"></span></td>
					<td></td>
					<td><div class="box-file fullb"></div></td>
					<td></td>
					<td><div class="box-file fullb"></div></td>
				</tr>	
				<tr>
					<td><span class="space-25">26</span>Less cost of treasury stock <span class="dottedline"></span></td>
					<td></td>
					<td><div class="box-file fullb after-before"></div></td>
					<td></td>
					<td><div class="box-file fullb after-before"></div></td>
				</tr>	
				<tr>
					<td><span class="space-25">27</span>Total liabilities and shareholders’ equity  <span class="dottedline"></span></td>
					<td></td>
					<td><div class="box-file fullb"></div></td>
					<td></td>
					<td><div class="box-file fullb"></div></td>
				</tr>	
				<!-- <td><div class="box-file fullb"></div></td> -->
			</table>
			<div class="hpageinfo clearfix bdr-top">
				<p class="pull-right">From <span> 1120S </span> (2015)</p>
			</div>
		</div>
	</div>
</body>

</div>

<div id="1120Spg5" class="tabcontent">
	
<body>
	<div class="wholepage">
		<div class="pagewrapper">
			<div class="hpageinfo clearfix bdr-bottom">
				<p class="pull-left">Form 1120S(2015)</p>
				<p class="pull-right">Page <span>5</span></p>
			</div>
			<div class="form-content">
				<form>
					<div class="forcalender clearfix bdr-bottom schedulem1 ">
						<span class="Schedulename">Schedule M-1 </span><b>Reconciliation of Income (Loss) per Books With Income (Loss) per Return <br>Note:</b> The corporation may be required to file Schedule M-3 (see instructions)
					</div>
				</form>
			</div>
			<div class="shedulem1-content bdr-bottom">
				<div class="clearfix"> 
					<div class="halfdiv bdr-right">
						<ul class="sheduleb-list">
							<li>
								<span class="numbli">1</span>
								<div class="shedulem-s">
									Net income (loss) per books . . . . . . . . . . 
									<div class="box-right">
										<div class="box-file fullb"></div>
									</div>
								</div>
							</li>
							<li>
								<span class="numbli">2</span>
								<div class="shedulem-s">
									Income included on Schedule K, lines 1, 2, 3c, 4, 5a, 6, 7, 8a, 9, and 10, not recorded on books this year (itemize) <span class="space-20"></span> <div class="box-file box-150"></div>
									<div class="box-right">
										<div class="box-file fullb"></div>
									</div>
								</div>
							</li>
							<li>
								<span class="numbli">3</span>
								<div class="shedulem-s">
									Expenses recorded on books this year not<br> included on Schedule K, lines 1 through 12 and 14l (itemize): 
								</div>
								<ul>
									<li>
										<div class="shedulem-s">
											Depreciation $ <div class="box-file pull-right box-160"></div>
											<div class="clearfix"></div>
										</div>
									</li>
									<li>
										<div class="shedulem-s">
											Travel and entertainment $ <div class="box-file pull-right box-100"></div>
											<div class="clearfix"></div>
										</div>
									</li>
									<li>
										<div class="shedulem-s">
											<div class="box-file binline fullb"></div>
											<div class="clearfix"></div>
											<div class="box-right">
												<div class="box-file fullb"></div>
											</div>

										</div>
									</li>
								</ul>
							</li>
							<li>
								<span class="numbli">4</span>
								<div class="shedulem-s">
									Add lines 1 through 3 
									<div class="box-right">
										<div class="box-file fullb"></div>
									</div>
								</div>
							</li>
						</ul>
					</div>
					<div class="halfdiv">
						<ul class="sheduleb-list">
							<li>
								<span class="numbli">5</span>
								<div class="shedulem-s">
									Income recorded on books this year not included on Schedule K, lines 1 through 10 (itemize): 
								</div>
								<ul>
									<li>
										<div class="shedulem-s">
											Tax-exempt interest $ <div class="box-file pull-right box-100"></div>
											<div class="box-file binline fullb"></div>
											<div class="clearfix"></div>

											<div class="box-right">
												<div class="box-file fullb"></div>
											</div>
										</div>
									</li>
								</ul>
							</li>
							<li>
								<span class="numbli">6</span>
								<div class="shedulem-s">
									Deductions included on Schedule K, lines 1 through 12 and 14l, not charged against book income this year (itemize):
									<div class="box-right">
										<div class="box-file fullb"></div>
									</div>
								</div>
								<ul>
									<li>
										<div class="shedulem-s">
											Depreciation $ <div class="box-file pull-right box-100"></div>
											<div class="box-file binline fullb"></div>
											<div class="clearfix"></div>

											<div class="box-right">
												<div class="box-file fullb"></div>
											</div>
										</div>
									</li>
								</ul>
							</li>
							<li>
								<span class="numbli">7</span>
								<div class="shedulem-s">
									Add lines 5 and 6 . . . . .
									<div class="box-right">
										<div class="box-file fullb"></div>
									</div>
								</div>
							</li>
							<li>
								<span class="numbli">8</span>
								<div class="shedulem-s">
									<span class="font-10">Income (loss) (Schedule K, line 18). Line 4 less line 7</span>
									<div class="box-right">
										<div class="box-file fullb"></div>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="forcalender clearfix bdr-bottom schedulem1 ">
				<span class="Schedulename">Schedule M-2 </span><b>Analysis of Accumulated Adjustments Account, Other Adjustments Account, and Shareholders’ <br>Undistributed Taxable Income Previously Taxed</b> (see instructions)
			</div>
			<table class="m2table">
				<tr>
					<td>
						
					</td>
					<td>
						<b>(a)</b> Accumulated <br> adjustments account
					</td>
					<td>
						<b>(b)</b> Other adjustments <br>account 
					</td>
					<td>
						<b>(c)</b> Shareholders’ undistributed <br> taxable income previously taxed
					</td>

				</tr>
				<tr>
					<td><span class="space-20">1</span> Balance at beginning of tax year <span class="dottedline"></span></td>
					<td><div class="box-file fullb"></div></td>
					<td><div class="box-file fullb"></div></td>
					<td><div class="box-file fullb"></div></td>
				</tr>
				<tr>
					<td><span class="space-20">2</span> Ordinary income from page 1, line 21 <span class="dottedline"></span></td>
					<td><div class="box-file fullb"></div></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td><span class="space-20">3</span>Other additions <span class="dottedline"></span></td>
					<td><div class="box-file fullb"></div></td>
					<td><div class="box-file fullb"></div></td>
					<td></td>
				</tr>
				<tr>
					<td><span class="space-20">4</span>Loss from page 1, line 21 <span class="dottedline"></span></td>
					<td><div class="box-file fullb"></div></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td><span class="space-20">5</span>Other reductions <span class="dottedline"></span></td>
					<td><div class="box-file fullb after-before"></div></td>
					<td><div class="box-file fullb"></div></td>
					<td></td>
				</tr>
				<tr>
					<td><span class="space-20">6</span>Combine lines 1 through 5 <span class="dottedline"></span></td>
					<td><div class="box-file fullb after-before"></div></td>
					<td><div class="box-file fullb after-before"></div></td>
					<td><div class="box-file fullb"></div></td>
				</tr>
				<tr>
					<td><span class="space-20">7</span>Distributions other than dividend distributions <span class="dottedline"></span></td>
					<td><div class="box-file fullb"></div></td>
					<td><div class="box-file fullb"></div></td>
					<td><div class="box-file fullb"></div></td>
				</tr>
				<tr>
					<td><span class="space-20">8</span>Balance at end of tax year. Subtract line 7 from line 6 </td>
					<td><div class="box-file fullb"></div></td>
					<td><div class="box-file fullb"></div></td>
					<td><div class="box-file fullb"></div></td>
				</tr>
			</table>
			<div class="hpageinfo clearfix bdr-top">
				<p class="pull-right">From <span> 1120S </span> (2015)</p>

			</div>
		</div>
	</div>
</body>

</div>




<script>
	function openCity(evt, cityName) {
    // Declare all variables
    var i, tabcontent, tablinks;

    // Get all elements with class="tabcontent" and hide them
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }

    // Get all elements with class="tablinks" and remove the class "active"
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }

    // Show the current tab, and add an "active" class to the link that opened the tab
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";
}
</script>
