	  
	
	<body>
	<div class="wholepage">
		<div class="pagewrapper">
			<div class="hpageinfo clearfix bdr-bottom">
				<p class="pull-left">Form 1120S(2015)</p>
				<p class="pull-right">Page <span>2</span></p>
			</div>
			<div class="form-content">
				<form>
					<div class="forcalender clearfix bdr-bottom">
						<span class="Schedulename">Schedule B </span>	<b>Other Information</b>  (see instructions) 
					</div>
				</form>
			</div>
			<div class="sheduleb">
				<div class="sheduleb-left">
					<ul class="sheduleb-list">
						<li>
							<span class="numbli">1</span>
							<div class="sheduleline">
								Check accounting method: 
								<span class="space-30"></span>
								<strong>a</strong> <input type="checkbox" name="">Cash  
								<span class="space-30"></span>
								<strong>b</strong> <input type="checkbox" name="">Accural
							</div>
							<div class="sheduleline">
								<span class="space-30"></span>
								<span class="space-30"></span>
								<span class="space-30"></span>
								<span class="space-30"></span>
								<span class="space-30"></span>
								<strong>c</strong> <input type="checkbox" name="">Other (specify) <span class="trg"></span>
								<div class="box-file box-400"></div>
							</div>
						</li>
						<li>
							<span class="numbli">2</span>
							<div class="sheduleline">
								See the instructions and enter the: 
							</div>
							<div class="sheduleline">
								<strong>a </strong> Business activity <span class="trg"></span>
								<div class="box-file box-200"></div>
								<strong>a </strong> Product or service <span class="trg"></span>
								<div class="box-file box-200"></div>
							</div>
						</li>
						<li>
							<span class="numbli">3</span>
							<div class="sheduleline">
								At any time during the tax year, was any shareholder of the corporation a disregarded entity, a trust, an estate, or a nominee or similar person? If "Yes," attach Schedule B-1, Information on Certain Shareholders of an S Corporation . . 4 At the end of the tax year, did the corporation:
								<div class="check-input">
									<div class="yesnob"><input type="checkbox" name=""></div>
									<div class="yesnob"><input type="checkbox" name=""></div>
								</div>
							</div>
						</li>
						<li>
							<span class="numbli">4</span>
							<div class="sheduleline">At the end of the tax year, did the corporation:</div>
							<ul>
								<li>
								
									<div class="sheduleline">Own directly 20% or more, or own, directly or indirectly, 50% or more of the total stock issued and outstanding of any foreign or domestic corporation? For rules of constructive ownership, see instructions. If “Yes,” complete (i) through (v) below <span class="dottedline"></span>
										<div class="check-input">
											<div class="yesnob"><input type="checkbox" name=""></div>
											<div class="yesnob"><input type="checkbox" name=""></div>
										</div>
									</div>
									<table class="ftable">
										<tr>
											<td>(i) Name of Corporation</td>
											<td>(ii) Employer Identification Number <br> (if any)</td>
											<td>
												(iii) Country of <br>Incorporation
											</td>
											<td>
												(iv) Percentage of Stock <br>Owned
											</td>
											<td>
												(v) If Percentage in (iv) is 100%, Enter the <br>Date (if any) a Qualified Subchapter S<br> Subsidiary Election Was Made
											</td>
										</tr>
										<tr>
											<td><div class="fullb box-file"></div></td>
											<td><div class="fullb box-file"></div></td>
											<td><div class="fullb box-file"></div></td>
											<td><div class="fullb box-file"></div></td>
											<td><div class="fullb box-file"></div></td>
										</tr>
										<tr>
											<td><div class="fullb box-file"></div></td>
											<td><div class="fullb box-file"></div></td>
											<td><div class="fullb box-file"></div></td>
											<td><div class="fullb box-file"></div></td>
											<td><div class="fullb box-file"></div></td>
										</tr>
										<tr>
											<td><div class="fullb box-file"></div></td>
											<td><div class="fullb box-file"></div></td>
											<td><div class="fullb box-file"></div></td>
											<td><div class="fullb box-file"></div></td>
											<td><div class="fullb box-file"></div></td>
										</tr>
										<tr>
											<td><div class="fullb box-file"></div></td>
											<td><div class="fullb box-file"></div></td>
											<td><div class="fullb box-file"></div></td>
											<td><div class="fullb box-file"></div></td>
											<td><div class="fullb box-file"></div></td>
										</tr>
									</table>
								</li>
								<li>
								
									<div class="sheduleline">Own directly an interest of 20% or more, or own, directly or indirectly, an interest of 50% or more in the profit, loss, or capital in any foreign or domestic partnership (including an entity treated as a partnership) or in the beneficial interest of a trust? For rules of constructive ownership, see instructions. If “Yes,” complete (i) through (v) below<span class="dottedline"></span>
										<div class="check-input">
											<div class="yesnob"><input type="checkbox" name=""></div>
											<div class="yesnob"><input type="checkbox" name=""></div>
										</div>
									</div>
									<table class="ftable">
										<tr>
											<td>(i) Name of Entity</td>
											<td>(ii) Employer Identification Number <br> (if any)</td>
											<td>
												(iii) Type of Entity
											</td>
											<td>
												(iv) Country of <br>Organization
											</td>
											<td>
												(v) Maximum Percentage Owned in Profit, <br>Loss, or Capital
											</td>
										</tr>
										<tr>
											<td><div class="fullb box-file"></div></td>
											<td><div class="fullb box-file"></div></td>
											<td><div class="fullb box-file"></div></td>
											<td><div class="fullb box-file"></div></td>
											<td><div class="fullb box-file"></div></td>
										</tr>
										<tr>
											<td><div class="fullb box-file"></div></td>
											<td><div class="fullb box-file"></div></td>
											<td><div class="fullb box-file"></div></td>
											<td><div class="fullb box-file"></div></td>
											<td><div class="fullb box-file"></div></td>
										</tr>
										<tr>
											<td><div class="fullb box-file"></div></td>
											<td><div class="fullb box-file"></div></td>
											<td><div class="fullb box-file"></div></td>
											<td><div class="fullb box-file"></div></td>
											<td><div class="fullb box-file"></div></td>
										</tr>
										<tr>
											<td><div class="fullb box-file"></div></td>
											<td><div class="fullb box-file"></div></td>
											<td><div class="fullb box-file"></div></td>
											<td><div class="fullb box-file"></div></td>
											<td><div class="fullb box-file"></div></td>
										</tr>
									</table>
								</li>
									
							</ul>
							
						</li>
						<li>
							<span class="numbli">5</span>
							<ul>
								<li>
									<div class="sheduleline">
										a At the end of the tax year, did the corporation have any outstanding shares of restricted stock? <span class="dottedline"></span>
										<div class="check-input">
											<div class="yesnob"><input type="checkbox" name=""></div>
											<div class="yesnob"><input type="checkbox" name=""></div>
										</div>
									</div>
									<div class="sheduleline marg-68">
										<p>If “Yes,” complete lines (i) and (ii) below</p>
										<strong>(i)</strong> Total shares of restricted stock<span class="dottedline"></span>
										<div class="right-230">
											<span class="trg"></span>	
											<div class="box-file box-200"></div>
										</div>
									</div>	
									<div class="sheduleline marg-68 clearfix">
										<strong>(ii)</strong> Total shares of non-restricted stock <span class="dottedline"></span>
										<div class="right-230">
											<span class="trg"></span>	
											<div class="box-file box-200"></div>
										</div>
									</div>	
								</li>
								<li>
									<div class="sheduleline">
										At the end of the tax year, did the corporation have any outstanding stock options, warrants, or similar instruments? .
										<div class="check-input">
											<div class="yesnob"><input type="checkbox" name=""></div>
											<div class="yesnob"><input type="checkbox" name=""></div>
										</div>
									</div>
									<div class="sheduleline marg-68">
										<p>If “Yes,” complete lines (i) and (ii) below</p>
										<strong>(i)</strong> Total shares of stock outstanding at the end of the tax year 
										<span class="trg"></span>	
										<div class="box-file box-250"></div>
									</div>	
									<div class="sheduleline marg-68 clearfix">
										<strong>(ii)</strong>Total shares of stock outstanding if all instruments were executed
										<span class="trg"></span>	
										<div class="box-file box-250"></div>
									</div>	
								</li>
							</ul>
						</li>
						<li>
							<span class="numbli">6</span>
							<div class="sheduleline">
								Has this corporation filed, or is it required to file, <b>Form 8918</b>, Material Advisor<br> Disclosure Statement, to provide information on any reportable transaction?  <span class="dottedline"></span>
								<div class="check-input">
									<div class="yesnob"><input type="checkbox" name=""></div>
									<div class="yesnob"><input type="checkbox" name=""></div>
								</div>
							</div>
						</li>
						<li>
							<span class="numbli">7</span>
							<div class="sheduleline">
								Check this box if the corporation issued publicly offered debt instruments with original issue discount ................. <input type="checkbox" name="">
								<br>
								If checked, the corporation may have to file <b>Form 8281,</b> Information Return for Publicly Offered Original Issue Discount Instruments
							</div>
						</li>
						<li>
							<span class="numbli">8</span>
							<div class="sheduleline">
								If the corporation: (a) was a C corporation before it elected to be an S corporation or the corporation acquired an asset with a basis determined by reference to the basis of the asset (or the basis of any other property) in the hands of a C corporation and (b) has net unrealized built-in gain in excess of the net recognized built-in gain from prior years, enter the net unrealized built-in gain reduced by net recognized built-in gain from prior years (see instructions) . . . . . . . . . <span class="trg"></span> $ <div class="box-file box-250"></div>
							</div>
						</li>
						<li>
							<span class="numbli">9</span>
							<div class="sheduleline">
								Enter the accumulated earnings and profits of the corporation at the end of the tax year. <span class="space-20"></span><div class="box-file box-150"></div>
							</div>
						</li>
						<li>
							<span class="numbli">10</span>
							<div class="sheduleline">Does the corporation satisfy both of the following conditions?</div>
							<ul>
								<li>
									<div class="sheduleline">The corporation’s total receipts (see instructions) for the tax year were less than $250,000 .</div>
								</li>
								<li>
									<div class="sheduleline">
										The corporation’s total assets at the end of the tax year were less than $250,000<span class="dottedline"></span>
										<div class="check-input">
											<div class="yesnob"><input type="checkbox" name=""></div>
											<div class="yesnob"><input type="checkbox" name=""></div>
										</div>
									</div>
									<div class="sheduleline">If “Yes,” the corporation is not required to complete Schedules L and M-1.</div>
								</li>
							</ul>		
						</li>
						<li>
							<span class="numbli">11</span>
							<div class="sheduleline">
								During the tax year, did the corporation have any non-shareholder debt that was canceled, was forgiven, or had the terms <br>modified so as to reduce the principal amount of the debt?  <span class="dottedline"></span>
								<div class="check-input">
									<div class="yesnob"><input type="checkbox" name=""></div>
									<div class="yesnob"><input type="checkbox" name=""></div>
								</div>
							</div>
							<div class="sheduleline">
								If “Yes,” enter the amount of principal reduction $ <div class="box-file box-400"></div>
							</div>
						</li>
						<li>
							<span class="numbli">12</span>
							<div class="sheduleline">
								During the tax year, was a qualified subchapter S subsidiary election terminated or revoked? If “Yes,” see instructions .
								<div class="check-input">
									<div class="yesnob"><input type="checkbox" name=""></div>
									<div class="yesnob"><input type="checkbox" name=""></div>
								</div>
							</div>
							
						</li>
						<li>
							<span class="numbli">13</span>
							<ul>
								<li>
									<div class="sheduleline">
										Did the corporation make any payments in 2015 that would require it to file Form(s) 1099? <span class="dottedline"></span>
										<div class="check-input">
											<div class="yesnob"><input type="checkbox" name=""></div>
											<div class="yesnob"><input type="checkbox" name=""></div>
										</div>
									</div>
								</li>
								<li>
									<div class="sheduleline">
										If “Yes,” did the corporation file or will it file required Forms 1099? <span class="dottedline"></span>
										<div class="check-input">
											<div class="yesnob"><input type="checkbox" name=""></div>
											<div class="yesnob"><input type="checkbox" name=""></div>
										</div>
									</div>
								</li>
							</ul>		
						</li>
					</ul>
				</div>
				<div class="sheduleb-right">
					<div class="yes-div">
						<span>Yes</span>
					</div>
					<div class="no-div">
						<span>No</span>
					</div>
				</div>
			</div>
			<div class="hpageinfo clearfix bdr-top">
				<p class="pull-right">From <span> 1120S </span> (2015)</p>

			</div>
		</div>
	</div>
</body>