<body>
	<div class="wholepage">
		<div class="pagewrapper">
			<div class="hpageinfo clearfix bdr-bottom">
				<p class="pull-left">Form 1120S(2015)</p>
				<p class="pull-right">Page <span>3</span></p>
			</div>
			<div class="form-content">
				<form>
					<div class="forcalender clearfix bdr-bottom">
						<span class="Schedulename">Schedule K </span>	<b>Shareholders’ Pro Rata Share Items</b><span class="total-amount"><strong>Total amount</strong></span> 
					</div>
				</form>
			</div>
			<div class="div-top schedulek incomeloss">
				<ul class="list-input">
					<li>
						<span class="num">1</span>
						<div class="line-div">
							<span>Ordinary business income (loss) (page 1, line 21)</span>
							<div class="right-section">
								<span class="numbering">
									1
								</span>
								<input type="text" class="longinput">
								<input type="text" class="shortinput">
							</div>
						</div>
					</li>
					<li>
						<span class="num">2</span>
						<div class="line-div">
							<span>Net rental real estate income (loss) (attach Form 8825)</span>
							<div class="right-section">
								<span class="numbering">
									2
								</span>
								<input type="text" class="longinput">
								<input type="text" class="shortinput">
							</div>
						</div>
					</li>
					<li><span class="num">3</span>
						<ul>
							<li>
								<div class="line-div">
									<span class="doline">
										Other gross rental income (loss) 
									</span>
									<div class="floatsection">
										<span class="numbering">
											3a
										</span>
										<input type="text" class="longinput">
										<input type="text" class="shortinput">
									</div>
									<div class="right-section">
										<span class="numbering b-bg">
											
										</span>
									</div>
								</div>
							</li>
							<li>
								<div class="line-div">
									<span class="doline">
										Expenses from other rental activities (attach statement)
									</span>
									<div class="floatsection">
										<span class="numbering">
											3b
										</span>
										<input type="text" class="longinput">
										<input type="text" class="shortinput">
									</div>
									<div class="right-section">
										<span class="numbering b-bg">
											
										</span>
									</div>
								</div>
							</li>
							<li>
								<div class="line-div">
									<span class="doline">
										 Other net rental income (loss). Subtract line 3b from line 3a 
									</span>
									<div class="right-section">
										<span class="numbering">
											3c
										</span>
										<input type="text" class="longinput">
										<input type="text" class="shortinput">
									</div>
								</div>
							</li>
						</ul>
					</li>
					<li>
						<span class="num">4</span>
						<div class="line-div">
							<span>Interest income</span>
							<div class="right-section">
								<span class="numbering">
									4
								</span>
								<input type="text" class="longinput">
								<input type="text" class="shortinput">
							</div>
						</div>
					</li>
					<li class="">
						<span class="num">5 Dividends:</span>
						<ul class="dividend">
							<li>
								<div class="line-div">
									<span>Ordinary dividends</span>
									<div class="right-section">
										<span class="numbering">
											5a
										</span>
										<input type="text" class="longinput">
										<input type="text" class="shortinput">
									</div>
								</div>
							</li>
							<li>
								<div class="line-div">
									<span class="doline">
										Qualified dividends
									</span>
									<div class="floatsection">
										<span class="numbering">
											5b
										</span>
										<input type="text" class="longinput">
										<input type="text" class="shortinput">
									</div>
									<div class="right-section">
										<span class="numbering b-bg">
											
										</span>
									</div>
								</div>
							</li>
						</ul>
								
					</li>
					<li>
						<span class="num">6</span>
						<div class="line-div">
							<span><b>Royalties</b> </span>
							<div class="right-section">
								<span class="numbering">
									6
								</span>
								<input type="text" class="longinput">
								<input type="text" class="shortinput">
							</div>
						</div>
					</li>
					<li>
						<span class="num">7</span>
						<div class="line-div">
							<span>Net short-term capital gain (loss) (attach Schedule D (Form  1120S)) </span>
							<div class="right-section">
								<span class="numbering">
									7
								</span>
								<input type="text" class="longinput">
								<input type="text" class="shortinput">
							</div>
						</div>
					</li>
					<li>
						<span class="num">8</span>
						<ul class="">
							<li>
								<div class="line-div">
									<span>Net long-term capital gain (loss) (attach Schedule D (Form 1120S)) </span>
									<div class="right-section">
										<span class="numbering">
											8a
										</span>
										<input type="text" class="longinput">
										<input type="text" class="shortinput">
									</div>
								</div>
							</li>
							<li>
								<div class="line-div">
									<span class="doline">
										Collectibles (28%) gain (loss) .
									</span>
									<div class="floatsection">
										<span class="numbering">
											8b
										</span>
										<input type="text" class="longinput">
										<input type="text" class="shortinput">
									</div>
									<div class="right-section">
										<span class="numbering b-bg">
											
										</span>
									</div>
								</div>
							</li>
							<li>
								<div class="line-div">
									<span class="doline">
										Unrecaptured section 1250 gain (attach statement) 
									</span>
									<div class="floatsection">
										<span class="numbering">
											8c
										</span>
										<input type="text" class="longinput">
										<input type="text" class="shortinput">
									</div>
									<div class="right-section">
										<span class="numbering b-bg">
											
										</span>
									</div>
								</div>
							</li>
						</ul>
					</li>
					<li>
						<span class="num">9</span>
						<div class="line-div">
							<span>Net section 1231 gain (loss) (attach Form 4797) </span>
							<div class="right-section">
								<span class="numbering">
									9
								</span>
								<input type="text" class="longinput">
								<input type="text" class="shortinput">
							</div>
						</div>
					</li>
					<li>
						<span class="num">10</span>
						<div class="line-div">
							<span>Other income (loss) (see instructions)</span>
							<span class="pull-right">Type <span class="trg"></span> <input type="text" name=""></span>
							<div class="right-section">
								<span class="numbering">
									10
								</span>
								<input type="text" class="longinput">
								<input type="text" class="shortinput">
							</div>
						</div>
					</li>
				</ul>
				<h3 class="divname"> Income(Loss) </h3>
			</div>
			<div class="div-top schedulek bdr-bottom deduction2">
				<ul class="list-input">
					<li>
						<span class="num">11</span>
						<div class="line-div">
							<span>Section 179 deduction (attach Form 4562) </span>
							<div class="right-section">
								<span class="numbering">
									11
								</span>
								<input type="text" class="longinput">
								<input type="text" class="shortinput">
							</div>
						</div>
					</li>
					<li>
						<span class="num">12</span>
						<ul>
							<li>
								<div class="line-div">
									<span>Charitable contributions </span>
									<div class="right-section">
										<span class="numbering">
											12a
										</span>
										<input type="text" class="longinput">
										<input type="text" class="shortinput">
									</div>
								</div>
							</li>
							<li>
								<div class="line-div">
									<span>Investment interest expense</span>
									<div class="right-section">
										<span class="numbering">
											12b
										</span>
										<input type="text" class="longinput">
										<input type="text" class="shortinput">
									</div>
								</div>
							</li>
							<li>
								<div class="line-div">
									<span>Other deductions (see instructions) </span>
									<span class="pull-right">Type <span class="trg"></span> <input type="text" name=""></span>
									<div class="right-section">
										<span class="numbering">
											<span>12c(2)</span>
										</span>
										<input type="text" class="longinput">
										<input type="text" class="shortinput">
									</div>
								</div>
							</li>
							<li>
								<div class="line-div">
									<span>Other deductions (see instructions) </span>
									<span class="pull-right">Type <span class="trg"></span> <input type="text" name=""></span>
									<div class="right-section">
										<span class="numbering">
											12d
										</span>
										<input type="text" class="longinput">
										<input type="text" class="shortinput">
									</div>
								</div>
							</li>
						</ul>
					</li>
				</ul>
				<h3 class="divname">Deductions</h3>
			</div>
			<div class="div-top schedulek credits">
				<ul class="list-input">
					<li>
						<span class="num">13</span>
						<ul>
							<li>
								<div class="line-div">
									<span>Low-income housing credit (section 42(j)(5)) </span>
									<div class="right-section">
										<span class="numbering">
											13a
										</span>
										<input type="text" class="longinput">
										<input type="text" class="shortinput">
									</div>
								</div>
							</li>
							<li>
								<div class="line-div">
									<span>Low-income housing credit (other)</span>
									<div class="right-section">
										<span class="numbering">
											13b
										</span>
										<input type="text" class="longinput">
										<input type="text" class="shortinput">
									</div>
								</div>
							</li>
							<li>
								<div class="line-div">
									<span>Qualified rehabilitation expenditures (rental real estate) (attach Form 3468, if applicable)</span>
									<div class="right-section">
										<span class="numbering">
											13c
										</span>
										<input type="text" class="longinput">
										<input type="text" class="shortinput">
									</div>
								</div>
							</li>
							<li>
								<div class="line-div">
									<span>Other rental real estate credits (see instructions) </span>
									<span class="pull-right">Type <span class="trg"></span> <input type="text" name=""></span>
									<div class="right-section">
										<span class="numbering">
											13d
										</span>
										<input type="text" class="longinput">
										<input type="text" class="shortinput">
									</div>
								</div>
							</li>
							<li>
								<div class="line-div">
									<span>Other rental credits (see instructions) </span>
									<span class="post-245">Type <span class="trg"></span> <input type="text" name=""></span>
									<div class="right-section">
										<span class="numbering">
											13e
										</span>
										<input type="text" class="longinput">
										<input type="text" class="shortinput">
									</div>
								</div>
							</li>
							<li>
								<div class="line-div">
									<span>Biofuel producer credit (attach Form 6478)</span>
									<div class="right-section">
										<span class="numbering">
											13f
										</span>
										<input type="text" class="longinput">
										<input type="text" class="shortinput">
									</div>
								</div>
							</li>
							<li>
								<div class="line-div">
									<span>Other credits (see instructions)  </span>
									<span class="pull-right">Type <span class="trg"></span> <input type="text" name=""></span>
									<div class="right-section">
										<span class="numbering">
											13g
										</span>
										<input type="text" class="longinput">
										<input type="text" class="shortinput">
									</div>
								</div>
							</li>
						</ul>
					</li>
				</ul>
				<h3 class="divname">Credits</h3>
			</div>	
			<div class="div-top schedulek ftrans">
				<ul class="list-input">
					<li>
						<span class="num">14</span>
						<ul>
							<li>
								<div class="line-div">
									<span>Name of country or U.S. possession <span class="trg"></span> <input type="text"> </span>
									<div class="right-section">
										<span class="numbering b-bg">
											
										</span>
										
									</div>
								</div>
							</li>
							<li>
								<div class="line-div">
									<span>Gross income from all sources</span>
									<div class="right-section">
										<span class="numbering">
											14b
										</span>
										<input type="text" class="longinput">
										<input type="text" class="shortinput">
									</div>
								</div>
							</li>
							<li>
								<div class="line-div">
									<span>Gross income sourced at shareholder level</span>
									<div class="right-section">
										<span class="numbering">
											14c
										</span>
										<input type="text" class="longinput">
										<input type="text" class="shortinput">
									</div>
								</div>
								<div class="line-div line-div2">
									<span>Gross income sourced at shareholder level</span>
									<div class="right-section">
										<span class="numbering b-bg">
											
										</span>
										
									</div>
								</div>
							</li>
							<li>
								<div class="line-div">
									<span>Passive category</span>
									<div class="right-section">
										<span class="numbering">
											14d
										</span>
										<input type="text" class="longinput">
										<input type="text" class="shortinput">
									</div>
									<div class="clearfix"></div>
								</div>
							</li>
							<li>
								<div class="line-div">
									<span>General category </span>
									<div class="right-section">
										<span class="numbering">
											14e
										</span>
										<input type="text" class="longinput">
										<input type="text" class="shortinput">
									</div>
								</div>
							</li>

							<li>
								<div class="line-div">
									<span>Other (attach statement) </span>
									<div class="right-section">
										<span class="numbering">
											14f
										</span>
										<input type="text" class="longinput">
										<input type="text" class="shortinput">
									</div>
								</div>
								<div class="line-div line-div2">
									<span>Deductions allocated and apportioned at shareholder level </span>
									<div class="right-section">
										<span class="numbering b-bg">
											
										</span>
										
									</div>
								</div>
							</li>
							<li>
								<div class="line-div">
									<span>Interest expense</span>
									<div class="right-section">
										<span class="numbering">
											14g
										</span>
										<input type="text" class="longinput">
										<input type="text" class="shortinput">
									</div>
								</div>
							</li>
							<li>
								<div class="line-div">
									<span> Other</span>
									<div class="right-section">
										<span class="numbering">
											14h
										</span>
										<input type="text" class="longinput">
										<input type="text" class="shortinput">
									</div>
								</div>
								<div class="line-div line-div2">
									<span>Deductions allocated and apportioned at corporate level to foreign source income </span>
									<div class="right-section">
										<span class="numbering b-bg">
										</span>
									</div>
								</div>
							</li>
							<li>
								<div class="line-div">
									<span>Passive category </span>
									<div class="right-section">
										<span class="numbering">
											14i
										</span>
										<input type="text" class="longinput">
										<input type="text" class="shortinput">
									</div>
								</div>
							</li>
							<li>
								<div class="line-div">
									<span>General category</span>
									<div class="right-section">
										<span class="numbering">
											14j
										</span>
										<input type="text" class="longinput">
										<input type="text" class="shortinput">
									</div>
								</div>
							</li>
							<li>
								<div class="line-div">
									<span>Other (attach statement) </span>
									<div class="right-section">
										<span class="numbering">
											14k
										</span>
										<input type="text" class="longinput">
										<input type="text" class="shortinput">
									</div>
								</div>
								<div class="line-div line-div2">
									<span>Other information </span>
									<div class="right-section">
										<span class="numbering b-bg">
										</span>
									</div>
								</div>
							</li>
							<li>
								<div class="line-div">
									<span>Total foreign taxes (check one): <span class="trg"></span> <input type="checkbox" name=""> Paid <input type="checkbox" name=""> Accrued  </span>
									<div class="right-section">
										<span class="numbering">
											14l
										</span>
										<input type="text" class="longinput">
										<input type="text" class="shortinput">
									</div>
								</div>
							</li>
							<li>
								<div class="line-div">
									<span>Reduction in taxes available for credit (attach statement)</span>
									<div class="right-section">
										<span class="numbering">
											14m
										</span>
										<input type="text" class="longinput">
										<input type="text" class="shortinput">
									</div>
								</div>
							</li>
							<li>
								<div class="line-div">
									<span>Other foreign tax information (attach statement)</span>
									<div class="right-section">
										<span class="numbering">
											14n
										</span>
										<input type="text" class="longinput">
										<input type="text" class="shortinput">
									</div>
								</div>
							</li>
						</ul>
					</li>
				</ul>
				<h3 class="divname">Foreign Transactions </h3>
			</div>	
			<div class="div-top schedulek atm">
				<ul class="list-input">
					<li>
						<span class="num">15</span>
						<ul>
							<li>
								<div class="line-div">
									<span>Post-1986 depreciation adjustment</span>
									<div class="right-section">
										<span class="numbering">
											15a
										</span>
										<input type="text" class="longinput">
										<input type="text" class="shortinput">
									</div>
								</div>
							</li>
							<li>
								<div class="line-div">
									<span>Adjusted gain or loss </span>
									<div class="right-section">
										<span class="numbering">
											15b
										</span>
										<input type="text" class="longinput">
										<input type="text" class="shortinput">
									</div>
								</div>
							</li>
							<li>
								<div class="line-div">
									<span>Depletion (other than oil and gas) </span>
									<div class="right-section">
										<span class="numbering">
											15c
										</span>
										<input type="text" class="longinput">
										<input type="text" class="shortinput">
									</div>
								</div>
							</li>
							<li>
								<div class="line-div">
									<span>Oil, gas, and geothermal properties—gross income</span>
									<div class="right-section">
										<span class="numbering">
											15d
										</span>
										<input type="text" class="longinput">
										<input type="text" class="shortinput">
									</div>
								</div>
							</li>
							<li>
								<div class="line-div">
									<span>Oil, gas, and geothermal properties—deductions </span>
									<div class="right-section">
										<span class="numbering">
											15e
										</span>
										<input type="text" class="longinput">
										<input type="text" class="shortinput">
									</div>
								</div>
							</li>
							<li>
								<div class="line-div">
									<span>Other AMT items (attach statement) </span>
									<div class="right-section">
										<span class="numbering">
											15f
										</span>
										<input type="text" class="longinput">
										<input type="text" class="shortinput">
									</div>
								</div>
							</li>
						</ul>
					</li>
				</ul>
				<h3 class="divname"><span>Alternative<br>Minimum Tax<br> (AMT) Items</span></h3>
			</div>
			<div class="div-top schedulek basis100">
				<ul class="list-input">
					<li>
						<span class="num">16</span>
						<ul>
							<li>
								<div class="line-div">
									<span>Tax-exempt interest income </span>
									<div class="right-section">
										<span class="numbering">
											16a
										</span>
										<input type="text" class="longinput">
										<input type="text" class="shortinput">
									</div>
								</div>
							</li>
							<li>
								<div class="line-div">
									<span>Other tax-exempt income </span>
									<div class="right-section">
										<span class="numbering">
											16b
										</span>
										<input type="text" class="longinput">
										<input type="text" class="shortinput">
									</div>
								</div>
							</li>
							<li>
								<div class="line-div">
									<span>Nondeductible expenses</span>
									<div class="right-section">
										<span class="numbering">
											16c
										</span>
										<input type="text" class="longinput">
										<input type="text" class="shortinput">
									</div>
								</div>
							</li>
							<li>
								<div class="line-div">
									<span>Distributions (attach statement if required) (see instructions)</span>
									<div class="right-section">
										<span class="numbering">
											16d
										</span>
										<input type="text" class="longinput">
										<input type="text" class="shortinput">
									</div>
								</div>
							</li>
							<li>
								<div class="line-div">
									<span>Repayment of loans from shareholders </span>
									<div class="right-section">
										<span class="numbering">
											16e
										</span>
										<input type="text" class="longinput">
										<input type="text" class="shortinput">
									</div>
								</div>
							</li>
						</ul>
					</li>
				</ul>
				<h3 class="divname"><span>tems Affecting<br>Shareholder<br>Basis </span></h3>
			</div>
			<div class="hpageinfo clearfix bdr-top">
				<p class="pull-right">From <span> 1120S </span> (2015)</p>

			</div>
		</div>
	</div>
</body>