<body>
	<div class="wholepage">
		<div class="pagewrapper">
			<div class="hpageinfo clearfix bdr-bottom">
				<p class="pull-left">Form 1120S(2015)</p>
				<p class="pull-right">Page <span>4</span></p>
			</div>
			<div class="form-content">
				<form>
					<div class="forcalender clearfix bdr-bottom">
						<span class="Schedulename">Schedule K </span>	<b>Shareholders’ Pro Rata Share Items</b><span class="total-amount"><strong>Total amount</strong></span> 
					</div>
				</form>
			</div>
			<div class="div-top schedulek otherinfo">
				<ul class="list-input">
					<li>
						<span class="num">17</span>
						<ul>
							<li>
								<div class="line-div">
									<span>Investment income </span>
									<div class="right-section">
										<span class="numbering">
											17a
										</span>
										<div class="longinput"></div>
										<div class="shortinput"></div>
									</div>
								</div>
							</li>
							<li>
								<div class="line-div">
									<span>Investment expenses  </span>
									<div class="right-section">
										<span class="numbering">
											17b
										</span>
										<input type="text" class="longinput">
										<input type="text" class="shortinput">
									</div>
								</div>
							</li>
							<li>
								<div class="line-div">
									<span>Dividend distributions paid from accumulated earnings and profits</span>
									<div class="right-section">
										<span class="numbering">
											17c
										</span>
										<input type="text" class="longinput">
										<input type="text" class="shortinput">
									</div>
								</div>
							</li>
							<li>
								<div class="line-div">
									<span> Other items and amounts (attach statement)</span>
									<div class="right-section">
										<span class="numbering">
											17d
										</span>
										
									</div>
								</div>
							</li>
						</ul>
					</li>
				</ul>
				<h3 class="divname"><span>Other <br> Information</span></h3>
			</div>
			<div class="div-top schedulek last-divtop">
				<ul class="list-input">
					<li>
						<span class="num">18</span>
						<span class="normal-font"><b>Income/loss reconciliation.</b> Combine the amounts on lines 1 through 10 in the far right</span> 
						<div class="line-div">
							<span>column. From the result, subtract the sum of the amounts on lines 11 through 12d and 14l </span>
							<div class="right-section">
								<span class="numbering">18</span>
								<div class="longinput"></div>
								<div class="shortinput"></div>
							</div>
						</div>

					</li>
				</ul>
				<h3 class="divname"><span>Reconciliation</span></h3>
			</div>
			<table class="m2table tablef4">
				<tr>
					<td>
						<div class="forcalender clearfix bdr-bottom schedulem1 ">
							<span class="Schedulename">Schedule L </span><b>Balance Sheets per Books </b> 
						</div>
					</td>
					<td colspan="2">
						Beginning of tax year 
					</td>
					<td colspan="2">
						End of tax year
					</td>
				</tr>
				<tr>
					<td><div class="text-center"><strong>Assets</strong></div></td>
					<td><div class="w-space">(a)</div></td>
					<td><div class="w-space">(b)</div></td>
					<td><div class="w-space">(c)</div></td>
					<td><div class="w-space">(d)</div></td>
				</tr>
				<tr>
					<td><span class="space-25">1</span>Cash <span class="dottedline"></span></td>
					<td></td>
					<td><div class="box-file fullb"></div></td>
					<td></td>
					<td><div class="box-file fullb"></div></td>
				</tr>
				<tr>
					<td><span class="space-25">2a</span>Trade notes and accounts receivable <span class="dottedline"></span></td>
					<td><div class="box-file fullb"></div></td>
					<td></td>
					<td><div class="box-file fullb"></div></td>
					<td></td>
				</tr>
				<tr>
					<td><span class="space-25"><i class="space-5"></i>b</span>Less allowance for bad debts<span class="dottedline"></span></td>
					<td><div class="box-file fullb after-before"></div></td>
					<td><div class="box-file fullb"></div></td>
					<td><div class="box-file fullb after-before"></div></td>
					<td><div class="box-file fullb"></div></td>
				</tr>
				<tr>
					<td><span class="space-25">3</span>Inventories <span class="dottedline"></span></td>
					<td></td>
					<td><div class="box-file fullb"></div></td>
					<td></td>
					<td><div class="box-file fullb"></div></td>
				</tr>	
				<tr>
					<td><span class="space-25">4</span>U.S. government obligations  <span class="dottedline"></span></td>
					<td></td>
					<td><div class="box-file fullb"></div></td>
					<td></td>
					<td><div class="box-file fullb"></div></td>
				</tr>
				<tr>
					<td><span class="space-25">5</span>Tax-exempt securities (see instructions)  <span class="dottedline"></span></td>
					<td></td>
					<td><div class="box-file fullb"></div></td>
					<td></td>
					<td><div class="box-file fullb"></div></td>
				</tr>
				<tr>
					<td><span class="space-25">6</span>Other current assets (attach statement) <span class="dottedline"></span></td>
					<td></td>
					<td><div class="box-file fullb"></div></td>
					<td></td>
					<td><div class="box-file fullb"></div></td>
				</tr>
				<tr>
					<td><span class="space-25">7</span>Loans to shareholders <span class="dottedline"></span></td>
					<td></td>
					<td><div class="box-file fullb"></div></td>
					<td></td>
					<td><div class="box-file fullb"></div></td>
				</tr>
				<tr>
					<td><span class="space-25">8</span>Mortgage and real estate loans <span class="dottedline"></span></td>
					<td></td>
					<td><div class="box-file fullb"><h6>11</h6></div></td>
					<td></td>
					<td><div class="box-file fullb">22</div></td>
				</tr>
				<tr>
					<td><span class="space-25">9</span>Other investments (attach statement) <span class="dottedline"></span></td>
					<td></td>
					<td><div class="box-file fullb"></div></td>
					<td></td>
					<td><div class="box-file fullb"></div></td>
				</tr>
				<tr>
					<td><span class="space-25">10a</span>Buildings and other depreciable assets <span class="dottedline"></span></td>
					<td><div class="box-file fullb"></div></td>
					<td></td>
					<td><div class="box-file fullb"></div></td>
					<td></td>
				</tr>
				<tr>
					<td><span class="space-25"><i class="space-5"></i>b</span>Less accumulated depreciation <span class="dottedline"></span></td>
					<td><div class="box-file fullb after-before"></div></td>
					<td><div class="box-file fullb"></div></td>
					<td><div class="box-file fullb after-before"></div></td>
					<td><div class="box-file fullb"></div></td>
				</tr>
				<tr>
					<td><span class="space-25">11a</span>Depletable assets <span class="dottedline"></span></td>
					<td><div class="box-file fullb"></div></td>
					<td></td>
					<td><div class="box-file fullb"></div></td>
					<td></td>
				</tr>
				<tr>
					<td><span class="space-25"><i class="space-5"></i>b</span>Less accumulated depletion  <span class="dottedline"></span></td>
					<td><div class="box-file fullb after-before"></div></td>
					<td><div class="box-file fullb"></div></td>
					<td><div class="box-file fullb after-before"></div></td>
					<td><div class="box-file fullb"></div></td>
				</tr>
				<tr>
					<td><span class="space-25">12</span>Land (net of any amortization) <span class="dottedline"></span></td>
					<td></td>
					<td><div class="box-file fullb"></div></td>
					<td></td>
					<td><div class="box-file fullb"></div></td>
				</tr>
				<tr>
					<td><span class="space-25">13a</span>Intangible assets (amortizable only)<span class="dottedline"></span></td>
					<td><div class="box-file fullb"></div></td>
					<td></td>
					<td><div class="box-file fullb"></div></td>
					<td></td>
				</tr>
				<tr>
					<td><span class="space-25"><i class="space-5"></i>b</span>Less accumulated amortization  <span class="dottedline"></span></td>
					<td><div class="box-file fullb after-before"></div></td>
					<td><div class="box-file fullb"></div></td>
					<td><div class="box-file fullb after-before"></div></td>
					<td><div class="box-file fullb"></div></td>
				</tr>
				<tr>
					<td><span class="space-25">14</span>Other assets (attach statement) <span class="dottedline"></span></td>
					<td></td>
					<td><div class="box-file fullb"></div></td>
					<td></td>
					<td><div class="box-file fullb"></div></td>
				</tr>
				<tr>
					<td><span class="space-25">15 </span>Total assets <span class="dottedline"></span></td>
					<td></td>
					<td><div class="box-file fullb"></div></td>
					<td></td>
					<td><div class="box-file fullb"></div></td>
				</tr>
				<tr>
					<td><div class="text-center"><strong>Liabilities and Shareholders’ Equity</strong></div></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td><span class="space-25">16</span>Accounts payable <span class="dottedline"></span></td>
					<td></td>
					<td><div class="box-file fullb"></div></td>
					<td></td>
					<td><div class="box-file fullb"></div></td>
				</tr>	
				<tr>
					<td><span class="space-25">17</span>Mortgages, notes, bonds payable in less than 1 year <span class="dottedline"></span></td>
					<td></td>
					<td><div class="box-file fullb"></div></td>
					<td></td>
					<td><div class="box-file fullb"></div></td>
				</tr>	
				<tr>
					<td><span class="space-25">18</span>Other current liabilities (attach statement) <span class="dottedline"></span></td>
					<td></td>
					<td><div class="box-file fullb"></div></td>
					<td></td>
					<td><div class="box-file fullb"></div></td>
				</tr>	
				<tr>
					<td><span class="space-25">19</span>Loans from shareholders <span class="dottedline"></span></td>
					<td></td>
					<td><div class="box-file fullb"></div></td>
					<td></td>
					<td><div class="box-file fullb"></div></td>
				</tr>	
				<tr>
					<td><span class="space-25">20</span>Mortgages, notes, bonds payable in 1 year or more <span class="dottedline"></span></td>
					<td></td>
					<td><div class="box-file fullb"></div></td>
					<td></td>
					<td><div class="box-file fullb"></div></td>
				</tr>	
				<tr>
					<td><span class="space-25">21</span>Other liabilities (attach statement) <span class="dottedline"></span></td>
					<td></td>
					<td><div class="box-file fullb"></div></td>
					<td></td>
					<td><div class="box-file fullb"></div></td>
				</tr>		
				<tr>
					<td><span class="space-25">22</span>Capital stock <span class="dottedline"></span></td>
					<td></td>
					<td><div class="box-file fullb"></div></td>
					<td></td>
					<td><div class="box-file fullb"></div></td>
				</tr>	
				<tr>
					<td><span class="space-25">23</span>Additional paid-in capital <span class="dottedline"></span></td>
					<td></td>
					<td><div class="box-file fullb"></div></td>
					<td></td>
					<td><div class="box-file fullb"></div></td>
				</tr>	
				<tr>
					<td><span class="space-25">24</span>Retained earnings <span class="dottedline"></span></td>
					<td></td>
					<td><div class="box-file fullb"></div></td>
					<td></td>
					<td><div class="box-file fullb"></div></td>
				</tr>	
				<tr>
					<td><span class="space-25">25</span>Adjustments to shareholders’ equity (attach statement)  <span class="dottedline"></span></td>
					<td></td>
					<td><div class="box-file fullb"></div></td>
					<td></td>
					<td><div class="box-file fullb"></div></td>
				</tr>	
				<tr>
					<td><span class="space-25">26</span>Less cost of treasury stock <span class="dottedline"></span></td>
					<td></td>
					<td><div class="box-file fullb after-before"></div></td>
					<td></td>
					<td><div class="box-file fullb after-before"></div></td>
				</tr>	
				<tr>
					<td><span class="space-25">27</span>Total liabilities and shareholders’ equity  <span class="dottedline"></span></td>
					<td></td>
					<td><div class="box-file fullb"></div></td>
					<td></td>
					<td><div class="box-file fullb"></div></td>
				</tr>	
				<!-- <td><div class="box-file fullb"></div></td> -->
			</table>
			<div class="hpageinfo clearfix bdr-top">
				<p class="pull-right">From <span> 1120S </span> (2015)</p>
			</div>
		</div>
	</div>
</body>