<body>
	<div class="wholepage">
		<div class="pagewrapper">
			<div class="hpageinfo clearfix bdr-bottom">
				<p class="pull-left">Form 1120S(2015)</p>
				<p class="pull-right">Page <span>5</span></p>
			</div>
			<div class="form-content">
				<form>
					<div class="forcalender clearfix bdr-bottom schedulem1 ">
						<span class="Schedulename">Schedule M-1 </span><b>Reconciliation of Income (Loss) per Books With Income (Loss) per Return <br>Note:</b> The corporation may be required to file Schedule M-3 (see instructions)
					</div>
				</form>
			</div>
			<div class="shedulem1-content bdr-bottom">
				<div class="clearfix"> 
					<div class="halfdiv bdr-right">
						<ul class="sheduleb-list">
							<li>
								<span class="numbli">1</span>
								<div class="shedulem-s">
									Net income (loss) per books . . . . . . . . . . 
									<div class="box-right">
										<div class="box-file fullb"></div>
									</div>
								</div>
							</li>
							<li>
								<span class="numbli">2</span>
								<div class="shedulem-s">
									Income included on Schedule K, lines 1, 2, 3c, 4, 5a, 6, 7, 8a, 9, and 10, not recorded on books this year (itemize) <span class="space-20"></span> <div class="box-file box-150"></div>
									<div class="box-right">
										<div class="box-file fullb"></div>
									</div>
								</div>
							</li>
							<li>
								<span class="numbli">3</span>
								<div class="shedulem-s">
									Expenses recorded on books this year not<br> included on Schedule K, lines 1 through 12 and 14l (itemize): 
								</div>
								<ul>
									<li>
										<div class="shedulem-s">
											Depreciation $ <div class="box-file pull-right box-160"></div>
											<div class="clearfix"></div>
										</div>
									</li>
									<li>
										<div class="shedulem-s">
											Travel and entertainment $ <div class="box-file pull-right box-100"></div>
											<div class="clearfix"></div>
										</div>
									</li>
									<li>
										<div class="shedulem-s">
											<div class="box-file binline fullb"></div>
											<div class="clearfix"></div>
											<div class="box-right">
												<div class="box-file fullb"></div>
											</div>

										</div>
									</li>
								</ul>
							</li>
							<li>
								<span class="numbli">4</span>
								<div class="shedulem-s">
									Add lines 1 through 3 
									<div class="box-right">
										<div class="box-file fullb"></div>
									</div>
								</div>
							</li>
						</ul>
					</div>
					<div class="halfdiv">
						<ul class="sheduleb-list">
							<li>
								<span class="numbli">5</span>
								<div class="shedulem-s">
									Income recorded on books this year not included on Schedule K, lines 1 through 10 (itemize): 
								</div>
								<ul>
									<li>
										<div class="shedulem-s">
											Tax-exempt interest $ <div class="box-file pull-right box-100"></div>
											<div class="box-file binline fullb"></div>
											<div class="clearfix"></div>

											<div class="box-right">
												<div class="box-file fullb"></div>
											</div>
										</div>
									</li>
								</ul>
							</li>
							<li>
								<span class="numbli">6</span>
								<div class="shedulem-s">
									Deductions included on Schedule K, lines 1 through 12 and 14l, not charged against book income this year (itemize):
									<div class="box-right">
										<div class="box-file fullb"></div>
									</div>
								</div>
								<ul>
									<li>
										<div class="shedulem-s">
											Depreciation $ <div class="box-file pull-right box-100"></div>
											<div class="box-file binline fullb"></div>
											<div class="clearfix"></div>

											<div class="box-right">
												<div class="box-file fullb"></div>
											</div>
										</div>
									</li>
								</ul>
							</li>
							<li>
								<span class="numbli">7</span>
								<div class="shedulem-s">
									Add lines 5 and 6 . . . . .
									<div class="box-right">
										<div class="box-file fullb"></div>
									</div>
								</div>
							</li>
							<li>
								<span class="numbli">8</span>
								<div class="shedulem-s">
									<span class="font-10">Income (loss) (Schedule K, line 18). Line 4 less line 7</span>
									<div class="box-right">
										<div class="box-file fullb"></div>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="forcalender clearfix bdr-bottom schedulem1 ">
				<span class="Schedulename">Schedule M-2 </span><b>Analysis of Accumulated Adjustments Account, Other Adjustments Account, and Shareholders’ <br>Undistributed Taxable Income Previously Taxed</b> (see instructions)
			</div>
			<table class="m2table">
				<tr>
					<td>
						
					</td>
					<td>
						<b>(a)</b> Accumulated <br> adjustments account
					</td>
					<td>
						<b>(b)</b> Other adjustments <br>account 
					</td>
					<td>
						<b>(c)</b> Shareholders’ undistributed <br> taxable income previously taxed
					</td>

				</tr>
				<tr>
					<td><span class="space-20">1</span> Balance at beginning of tax year <span class="dottedline"></span></td>
					<td><div class="box-file fullb"></div></td>
					<td><div class="box-file fullb"></div></td>
					<td><div class="box-file fullb"></div></td>
				</tr>
				<tr>
					<td><span class="space-20">2</span> Ordinary income from page 1, line 21 <span class="dottedline"></span></td>
					<td><div class="box-file fullb"></div></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td><span class="space-20">3</span>Other additions <span class="dottedline"></span></td>
					<td><div class="box-file fullb"></div></td>
					<td><div class="box-file fullb"></div></td>
					<td></td>
				</tr>
				<tr>
					<td><span class="space-20">4</span>Loss from page 1, line 21 <span class="dottedline"></span></td>
					<td><div class="box-file fullb"></div></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td><span class="space-20">5</span>Other reductions <span class="dottedline"></span></td>
					<td><div class="box-file fullb after-before"></div></td>
					<td><div class="box-file fullb"></div></td>
					<td></td>
				</tr>
				<tr>
					<td><span class="space-20">6</span>Combine lines 1 through 5 <span class="dottedline"></span></td>
					<td><div class="box-file fullb after-before"></div></td>
					<td><div class="box-file fullb after-before"></div></td>
					<td><div class="box-file fullb"></div></td>
				</tr>
				<tr>
					<td><span class="space-20">7</span>Distributions other than dividend distributions <span class="dottedline"></span></td>
					<td><div class="box-file fullb"></div></td>
					<td><div class="box-file fullb"></div></td>
					<td><div class="box-file fullb"></div></td>
				</tr>
				<tr>
					<td><span class="space-20">8</span>Balance at end of tax year. Subtract line 7 from line 6 </td>
					<td><div class="box-file fullb"></div></td>
					<td><div class="box-file fullb"></div></td>
					<td><div class="box-file fullb"></div></td>
				</tr>
			</table>
			<div class="hpageinfo clearfix bdr-top">
				<p class="pull-right">From <span> 1120S </span> (2015)</p>

			</div>
		</div>
	</div>
</body>