

<script>
  $(function(){
      jQuery(".ragain").typed({
        strings: ["Hello....", "My name is Halon.....", "I am an artificial intelligence system, designed for proficiency in taxation and planning....", "I will be your guide today.  May I ask your name?"],
        typeSpeed: 100,
        startDelay: 750,
        backDelay: 2750
      });
  });
</script>


<div class="text-center">
  <div class="Halon-box">
    <h1><span class="ragain"></span></h1>
  </div>
</div>


