<div class="bread-section">
  <div class="bread-div"><%= "Contact Info", business_summary_path, id: "bread-selected", class: "bread-link" %><a class="bread-link" href="#">EIN</a><a class="bread-link" href="#">Schedule B</a><a class="bread-link" href="#">Fixed Assets</a></div>
</div>
<h3 class="text-center">Business Contact Information</h3>
<% user_signed_in? %>

<div class="content-div">
  <div class="form-div">
    
  </div>
</div>


