.nav-section {
  height: 50px;
  background-color: #7227a3;
}

.bread-section {
  height: 50px;
  border-bottom: 1px solid #c9c1c1;
  background-color: #f4f4f4;
}

.nav-div {
  display: block;
  width: 70%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 100px;
}

.nav-logo {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 10px;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-size: 27px;
  font-weight: 300;
}

.nav-link {
  position: static;
  display: inline;
  padding-top: 15px;
  padding-right: 20px;
  padding-left: 20px;
  float: right;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-weight: 400;
  text-decoration: none;
  
}

.nav-logo-link-block {
  text-decoration: none;
}

.bread-div {
  display: block;
  width: 70%;
  margin-right: auto;
  margin-left: auto;
}

.bread-link {
  display: inline-block;
  margin-top: 3px;
  padding-top: 12px;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 11px;
  font-family: 'Open Sans', sans-serif;
  color: #3d3939;
  text-decoration: none;
}

.content-div {
  display: block;
  width: 70%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 25px;
}

.form-div {
  display: block;
  width: 65%;
  height: 650px;
  margin-right: auto;
  margin-left: auto;
  border: 2px solid #D3D3D3;
  border-radius: 5px;
  padding: 45px;
  
}

#navlink:hover {
  color: yellow;
  text-decoration: none;
}

#bread-selected {
  background-color: #27b6af;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
}

.contact-label {
  margin-top: 5px;
}

.c-tab {
  display: none;
  background-color: #e7e7e7;
}

.c-tab.is-active {
  display: block;
}

.c-tab__content {
  padding: 1.5rem;
}

.c-tabs-nav {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.c-tabs-nav__link {
  flex: 1;
  margin-right: 4px;
  padding: 12px;
  color: #fff;
  background-color: #b3b3b3;
  text-align: center;
  transition: color 0.3s;
}

.c-tabs-nav__link:last-child {
  margin-right: 0;
}

.c-tabs-nav__link:hover {
  color: #6d6d6d;
}

.c-tabs-nav__link.is-active {
  color: #dc446e;
  background-color: #e7e7e7;
}

.c-tabs-nav__link i,
.c-tabs-nav__link span {
  margin: 0;
  padding: 0;
  line-height: 1;
}

.c-tabs-nav__link i {
  font-size: 18px;
}

.c-tabs-nav__link span {
  display: none;
  font-size: 18px;
}

.well .well-purple {
  background-color: #7227a3
}

@media all and (min-width: 720px) {
  .c-tabs-nav__link i {
    margin-bottom: 12px;
    font-size: 22px;
  }
  .c-tabs-nav__link span {
    display: block;
  }
}


@media (max-width: 991px) {
  .nav-div {
    padding-right: 0px;
  }
}

@media (max-width: 479px) {
  .nav-section {
    height: 130px;
  }
  .nav-logo {
    display: block;
  }
}