<html>
    <head>
        <title> 2015 Form 1120 S (Schedule K-1) </title>
       
    </head>

    <body>
        <div class="wrapper padding-top-10">
            <div colspan="2" class="text-right margin-top-10 padding-top-10">
                <%= image_tag("67113.png") %>
            </div>
            <table class="form-table margin-top-10">
                <tbody>
                <tr class="no-border">
                    <td class="half-width"></td>
                    <td class="half-width" colspan="4">
                        <div class="full-width">
                            <div class="left">
                                <label><input type="checkbox"/> Final K-1</label>
                                <label><input type="checkbox"/> Amended K-1</label>
                            </div>
                            <div class="right text-right">
                                OMB No. 1545-0123
                            </div>
                        </div>
                    </td>
                </tr>
                <tr class="no-border">
                    <td rowspan="3" style="vertical-align: top">
                        <div class="full-width">
                            <div class="left">
                                <h2 class="no-h-gaps">Schedule K-1</h2>
                                <h2 class="no-h-gaps">(Form 1120S)</h2>
                                Department of the Treasury<br/>
                                Internal Revenue Service
                            </div>
                            <div class="right text-right">
                                <div><%= image_tag("2015.png") %></div>
                                <br/>
                                For calendar year 2015, or tax<br/>
                                year beginning <span class="line-input long"></span>, 2015 <br/>
                                ending <span class="line-input long"></span>, 20<span class="line-input short"></span>
                            </div>
                        </div>
                        <div class="clear-both"></div>
                    </td>
                    <th colspan="4">
                        <table>
                            <tr>
                                <td width="60"> <span class="black-sticker">Part III</span></td>
                                <td> <b>Shareholder's Share of Current Year Income,
                                    Deductions, Credits, and Other Items</b> </td>
                            </tr>
                        </table>
                    </th>
                </tr>

                <tr class="no-bottom">
                    <td rowspan="2" class="border-bottom">1</td>
                    <td>Ordinary business income (loss) </td>
                    <td>13</td>
                    <td>Credits</td>
                </tr>
                <tr>
                    <td class="input"><div></div></td>
                    <td class="input"><div></div></td>
                    <td class="input"><div></div></td>
                </tr>

                <tr class="no-bottom">
                    <td rowspan="4" class="no-border vertical-bottom">
                        <h2>Shareholder's Share of Income, Deductions,
                            Credits, etc. </h2>
                        <div class="text-right" style="margin-top:-28px;">
                            <strong>&#9658;See back of form and separate instructions</strong>
                        </div>
                    </td>
                    <td rowspan="2" class="border-bottom">2</td>
                    <td>Net rental real estate income (loss)  </td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="input"><div></div></td>
                    <td class="input"><div></div></td>
                    <td class="input"><div></div></td>
                </tr>

                <tr class="no-bottom">
                    <td rowspan="2" class="border-bottom">3</td>
                    <td>Other net rental income (loss)   </td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="input"><div></div></td>
                    <td class="input"><div></div></td>
                    <td class="input"><div></div></td>
                </tr>

                <tr class="no-bottom">
                    <th rowspan="2"> <span class="black-sticker">Part I</span> Information About the Corporation </th>
                    <td rowspan="2" class="border-bottom">4</td>
                    <td>Interest Income</td>
                    <td></td>
                    <td></td>
                </tr>

                <tr>
                    <td class="input"><div></div></td>
                    <td class="input"><div></div></td>
                    <td class="input"><div></div></td>
                </tr>

                <tr class="no-bottom">
                    <td>
                        <ol type="A"><li>Corporation's employer identification number</li></ol>
                    </td>
                    <td rowspan="2" class="border-bottom">5a</td>
                    <td>Ordinary Dividends</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="input">
                        <div class="small"></div>
                    </td>
                    <td class="input"><div></div></td>
                    <td class="input"><div></div></td>
                    <td class="input"><div></div></td>
                </tr>

                <tr class="no-bottom">
                    <td>
                        <ol type="A" start="2"><li>Corporation's name, address, city, state, and ZIP code </li></ol>
                    </td>
                    <td rowspan="2" class="border-bottom">5b</td>
                    <td>Qualified Dividends</td>
                    <td>14</td>
                    <td>Foreign transactions </td>
                </tr>
                <tr>
                    <td rowspan="5" class="input">
                        <div></div>
                    </td>
                    <td class="input"><div></div></td>
                    <td class="input"><div></div></td>
                    <td class="input"><div></div></td>
                </tr>

                <tr class="no-bottom">
                    <td rowspan="2" class="border-bottom">6</td>
                    <td>Royalties </td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="input"><div></div></td>
                    <td class="input"><div></div></td>
                    <td class="input"><div></div></td>
                </tr>
                <tr class="no-bottom">
                    <td rowspan="2" class="border-bottom">7</td>
                    <td>Net short-term capital gain (loss)  </td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="input"><div></div></td>
                    <td class="input"><div></div></td>
                    <td class="input"><div></div></td>
                </tr>

                <tr class="no-bottom">
                    <td>
                        <ol type="A" start="3"><li>IRS Center where corporation filed return </li></ol>
                    </td>
                    <td rowspan="2" class="border-bottom">8a</td>
                    <td>Net long-term capital gain (loss)  </td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="input">
                        <div class="small"></div>
                    </td>
                    <td class="input"><div></div></td>
                    <td class="input"><div></div></td>
                    <td class="input"><div></div></td>
                </tr>

                <tr class="no-bottom">
                    <th rowspan="2"> <span class="black-sticker">Part II</span> Information About the Shareholder </th>
                    <td rowspan="2" class="border-bottom">8b</td>
                    <td> Collectibles (28%) gain (loss)  </td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="input"><div></div></td>
                    <td class="input"><div></div></td>
                    <td class="input"><div></div></td>
                </tr>
                <tr class="no-bottom">
                    <td>
                        <ol type="A" start="4"><li>Shareholder's identifying number</li></ol>
                    </td>
                    <td rowspan="2" class="border-bottom">8c</td>
                    <td>Unrecaptured section 1250 gain </td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="input">
                        <div class="small"></div>
                    </td>
                    <td class="input"><div></div></td>
                    <td class="input"><div></div></td>
                    <td class="input"><div></div></td>
                </tr>

                <tr class="no-bottom">
                    <td>
                        <ol type="A" start="5"><li>Shareholder's name, address, city, state, and ZIP code </li></ol>
                    </td>
                    <td rowspan="2" class="border-bottom">9</td>
                    <td>Net section 1231 gain (loss) </td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td rowspan="5" class="input">
                        <div></div>
                    </td>
                    <td class="input"><div></div></td>
                    <td class="input"><div></div></td>
                    <td class="input"><div></div></td>
                </tr>

                <tr class="no-bottom">
                    <td>10</td>
                    <td>Other Income (loss)</td>
                    <td>15</td>
                    <td>Alternative minimum tax (AMT) items</td>
                </tr>
                <tr class="no-bottom">
                    <td class="input"><div></div></td>
                    <td class="input"><div></div></td>
                    <td class="input"><div></div></td>
                    <td class="input"><div></div></td>
                </tr>
                <tr class="no-bottom">
                    <td class="blank"><div></div></td>
                    <td class="blank"><div></div></td>
                    <td class="blank"><div></div></td>
                    <td class="blank"><div></div></td>
                </tr>
                <tr class="no-bottom">
                    <td class="input"><div></div></td>
                    <td class="input"><div></div></td>
                    <td class="input"><div></div></td>
                    <td class="input"><div></div></td>
                </tr>

                <tr class="no-bottom">
                    <td rowspan="3" class="border-bottom">
                        <ol type="A" start="6">
                            <li>
                                Shareholder's percentage of stock<br/> ownership for tax year . . . . . . . . . . . . . . <span class="line-input longer"></span> %
                            </li>
                        </ol>
                    </td>
                    <td class="blank"><div></div></td>
                    <td class="blank"><div></div></td>
                    <td class="blank"><div></div></td>
                    <td class="blank"><div></div></td>
                </tr>
                <tr class="no-bottom">
                    <td class="input"><div></div></td>
                    <td class="input"><div></div></td>
                    <td class="input"><div></div></td>
                    <td class="input"><div></div></td>
                </tr>
                <tr class="no-bottom">
                    <td class="blank"><div></div></td>
                    <td class="blank"><div></div></td>
                    <td class="blank"><div></div></td>
                    <td class="blank"><div></div></td>
                </tr>
                <tr class="no-bottom">
                    <td rowspan="22" class="for-irs-use border-bottom">
                        <div>For IRS Use Only</div>
                    </td>
                    <td class="input"><div></div></td>
                    <td class="input"><div></div></td>
                    <td class="input"><div></div></td>
                    <td class="input"><div></div></td>
                </tr>
                <tr class="no-bottom">
                    <td class="blank"><div></div></td>
                    <td class="blank"><div></div></td>
                    <td class="blank"><div></div></td>
                    <td class="blank"><div></div></td>
                </tr>
                <tr>
                    <td class="input"><div></div></td>
                    <td class="input"><div></div></td>
                    <td class="input"><div></div></td>
                    <td class="input"><div></div></td>
                </tr>

                <tr class="no-bottom">
                    <td rowspan="2" class="border-bottom">11</td>
                    <td>Section 179 deduction </td>
                    <td>16</td>
                    <td>Items affecting shareholder basis </td>
                </tr>
                <tr>
                    <td class="input"><div></div></td>
                    <td class="input"><div></div></td>
                    <td class="input"><div></div></td>
                </tr>

                <tr class="no-bottom">
                    <td>12</td>
                    <td>Other deductions</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr class="no-bottom">
                    <td class="input"><div></div></td>
                    <td class="input"><div></div></td>
                    <td class="input"><div></div></td>
                    <td class="input"><div></div></td>
                </tr>

                <tr class="no-bottom">
                    <td class="blank"><div></div></td>
                    <td class="blank"><div></div></td>
                    <td class="blank"><div></div></td>
                    <td class="blank"><div></div></td>
                </tr>
                <tr class="no-bottom">
                    <td class="input"><div></div></td>
                    <td class="input"><div></div></td>
                    <td class="input"><div></div></td>
                    <td class="input"><div></div></td>
                </tr>

                <tr class="no-bottom">
                    <td class="blank"><div></div></td>
                    <td class="blank"><div></div></td>
                    <td class="blank"><div></div></td>
                    <td class="blank"><div></div></td>
                </tr>
                <tr class="no-bottom">
                    <td class="input"><div></div></td>
                    <td class="input"><div></div></td>
                    <td class="input"><div></div></td>
                    <td class="input"><div></div></td>
                </tr>

                <tr class="no-bottom">
                    <td class="blank"><div></div></td>
                    <td class="blank"><div></div></td>
                    <td class="blank"><div></div></td>
                    <td class="blank"><div></div></td>
                </tr>
                <tr class="no-bottom">
                    <td class="input"><div></div></td>
                    <td class="input"><div></div></td>
                    <td class="input border-bottom"><div></div></td>
                    <td class="input border-bottom"><div></div></td>
                </tr>

                <tr class="no-bottom">
                    <td class="blank"><div></div></td>
                    <td class="blank"><div></div></td>
                    <td>17</td>
                    <td>Other Information</td>
                </tr>

                <tr class="no-bottom">
                    <td class="input"><div></div></td>
                    <td class="input"><div></div></td>
                    <td class="input"><div></div></td>
                    <td class="input"><div></div></td>
                </tr>

                <tr class="no-bottom">
                    <td class="blank"><div></div></td>
                    <td class="blank"><div></div></td>
                    <td class="blank"><div></div></td>
                    <td class="blank"><div></div></td>
                </tr>
                <tr class="no-bottom">
                    <td class="input"><div></div></td>
                    <td class="input"><div></div></td>
                    <td class="input"><div></div></td>
                    <td class="input"><div></div></td>
                </tr>

                <tr class="no-bottom">
                    <td class="blank"><div></div></td>
                    <td class="blank"><div></div></td>
                    <td class="blank"><div></div></td>
                    <td class="blank"><div></div></td>
                </tr>
                <tr class="no-bottom">
                    <td class="input"><div></div></td>
                    <td class="input"><div></div></td>
                    <td class="input"><div></div></td>
                    <td class="input"><div></div></td>
                </tr>

                <tr class="no-bottom">
                    <td class="blank"><div></div></td>
                    <td class="blank"><div></div></td>
                    <td class="blank"><div></div></td>
                    <td class="blank"><div></div></td>
                </tr>
                <tr>
                    <td class="input"><div></div></td>
                    <td class="input"><div></div></td>
                    <td class="input"><div></div></td>
                    <td class="input"><div></div></td>
                </tr>

                <tr>
                    <td colspan="4"> * See attached statement for additional information. </td>
                </tr>
                </tbody>
            </table>
            <table class="full-width">
                <tr>
                    <th class="text-left">For Paperwork Reduction Act Notice, see Instructions for Form 1120S.</th>
                    <td class="text-center">IRS.gov/form1120s</td>
                    <td class="text-center">Cat. No. 11520D </td>
                    <th class="text-right">Schedule K-1 (Form 1120S) 2015 </th>
                </tr>
            </table>

        </div>
    </body>
</html>