<html>
    <head>
        <title> 2015 Form 1120 S (Schedule K-1) </title>
        <link href="css/style.css" rel="stylesheet"/>
    </head>

    <body>
        <div class="wrapper">
            <div class="full-width margin-top-10">
                <div class="left text-left">
                    Schedule K-1 (Form 1120S) 2015
                </div>
                <div class="right text-right">
                    Page <span class="page-no">2</span>
                </div>
            </div>
            <div class="clear-both border-bottom"></div>

            <div class="full-width margin-top-5">
                <strong>
                    This list identifies the codes used on Schedule K-1 for all shareholders and provides summarized reporting information for shareholders who file Form 1040.
                    For detailed reporting and filing information, see the separate Shareholder's Instructions for Schedule K-1 and the instructions for your income tax return.
                </strong>
            </div>

            <div class="full-width margin-top-10">
                <div class="left">
                    <table class="page-2-table text-left margin-top-15">
                        <tbody>
                        <tr>
                            <th>1.</th>
                            <td colspan="2"><b>Ordinary business income (loss).</b> Determine whether the income (loss) is
                                passive or nonpassive and enter on your return as follows:</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td>Report on</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>Passive loss</td>
                            <td>See the Shareholder's Instructions </td>
                        </tr>

                        <tr>
                            <td></td>
                            <td>Passive income</td>
                            <td>Schedule E, line 28, column (g) </td>
                        </tr>

                        <tr>
                            <td></td>
                            <td>Nonpassive loss</td>
                            <td>Schedule E, line 28, column (h) </td>
                        </tr>

                        <tr>
                            <td></td>
                            <td>Nonpassive income</td>
                            <td>Schedule E, line 28, column (j) </td>
                        </tr>


                        <tr>
                            <th>2.</th>
                            <th>Net rental real estate income (loss)</th>
                            <td>See the Shareholder's Instructions</td>
                        </tr>

                        <tr>
                            <th>3.</th>
                            <th colspan="2">Other net rental income (loss) </th>
                        </tr>

                        <tr>
                            <td></td>
                            <td>Net Income</td>
                            <td>Schedule E, line 28, column (g) </td>
                        </tr>

                        <tr>
                            <td></td>
                            <td>Net Loss</td>
                            <td>See the Shareholder's Instructions</td>
                        </tr>

                        <tr>
                            <th>4.</th>
                            <th>Interest Income</th>
                            <td>Form 1040, line 8a</td>
                        </tr>



                        <tr>
                            <th>5a.</th>
                            <th>Ordinary dividends</th>
                            <td>Form 1040, line 9a</td>
                        </tr>

                        <tr>
                            <th>5b.</th>
                            <th>Qualified dividends</th>
                            <td>Form 1040, line 9b</td>
                        </tr>

                        <tr>
                            <th>6.</th>
                            <th>Royalties</th>
                            <td>Schedule E, line 4</td>
                        </tr>

                        <tr>
                            <th>7.</th>
                            <th>Net short-term capital gain (loss)</th>
                            <td>Schedule D, line 5</td>
                        </tr>

                        <tr>
                            <th>8a.</th>
                            <td>Net long-term capital gain (loss)</td>
                            <td>Schedule D, line 12</td>
                        </tr>

                        <tr>
                            <th>8b.</th>
                            <th>Collectibles (28%) gain (loss)</th>
                            <td>28% Rate Gain Worksheet, line 4
                                (Schedule D instructions)</td>
                        </tr>

                        <tr>
                            <th>8c.</th>
                            <th>Unrecaptured section 1250 gain</th>
                            <td>See the Shareholder's Instructions</td>
                        </tr>

                        <tr>
                            <th>9.</th>
                            <th> Net section 1231 gain (loss)</th>
                            <td>See the Shareholder's Instructions</td>
                        </tr>
                        </tbody>
                    </table>

                    <table class="text-left page-2-table">
                        <tbody>
                        <tr>
                            <th>10.</th>
                            <th colspan="3">Other Income(loss)</th>
                        </tr>
                        <tr>
                            <td rowspan="6"></td>
                            <td>Code</td>
                        </tr>
                        <tr>
                            <th>A</th>
                            <td>Other portfolio income (loss)</td>
                            <td>See the Shareholder's Instructions</td>
                        </tr>

                        <tr>
                            <th>B</th>
                            <td>Involuntary conversions</td>
                            <td>See the Shareholder's Instructions</td>
                        </tr>

                        <tr>
                            <th>C</th>
                            <td>Sec. 1256 contracts & straddles</td>
                            <td>Form 6781, line 1</td>
                        </tr>

                        <tr>
                            <th>D</th>
                            <td>Mining exploration costs recapture</td>
                            <td>See Pub. 535</td>
                        </tr>

                        <tr>
                            <th>E</th>
                            <td>Other income (loss)</td>
                            <td>See the Shareholder's Instructions</td>
                        </tr>

                        <tr>
                            <th>11.</th>
                            <th colspan="2">Section 179 deduction </th>
                            <td>See the Shareholder's Instructions</td>
                        </tr>

                        <tr>
                            <th rowspan="20">12.</th>
                            <th colspan="3">Other deductions </th>
                        </tr>

                        <tr>
                            <th>A</th>
                            <td>Cash contributions (50%)</td>
                            <td rowspan="7" class="large-group">
                                <table>
                                    <tr>
                                        <td><img src="img/bracket.png" height="106" width="8"/></td>
                                        <td>See the Shareholder's Instructions</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>

                        <tr>
                            <th>B</th>
                            <td>Cash contributions (30%)</td>
                        </tr>
                        <tr>
                            <th>C</th>
                            <td>Noncash contributions (50%)</td>
                        </tr>
                        <tr>
                            <th>D</th>
                            <td>Noncash contributions (30%)</td>
                        </tr>
                        <tr>
                            <th>E</th>
                            <td>Capital gain property to a 50%
                                organization (30%)</td>
                        </tr>
                        <tr>
                            <th>F</th>
                            <td>Capital gain property (20%)</td>
                        </tr>
                        <tr>
                            <th>G</th>
                            <td>Contributions (100%)</td>
                        </tr>

                        <tr>
                            <th>H</th>
                            <td>Investment interest expense</td>
                            <td>Form 4952, line 1</td>
                        </tr>

                        <tr>
                            <th>I</th>
                            <td>Deductions-royalty income</td>
                            <td>Schedule E, line 19</td>
                        </tr>

                        <tr>
                            <th>J</th>
                            <td>Section 59(e)(2) expenditures</td>
                            <td>See the Shareholder's Instructions</td>
                        </tr>

                        <tr>
                            <th>K</th>
                            <td>Deductions-portfolio (2% floor)</td>
                            <td>Schedule A, line 23</td>
                        </tr>

                        <tr>
                            <th>L</th>
                            <td>Deductions-portfolio (other)</td>
                            <td>Schedule A, line 28</td>
                        </tr>

                        <tr>
                            <th>M</th>
                            <td>Preproductive period expenses</td>
                            <td>See the Shareholder's Instructions</td>
                        </tr>

                        <tr>
                            <th>N</th>
                            <td>Commercial revitalization deduction
                                from rental real estate activities</td>
                            <td>See Form 8582 instructions</td>
                        </tr>

                        <tr>
                            <th>O</th>
                            <td>Reforestation expense deduction</td>
                            <td>See the Shareholder's Instructions</td>
                        </tr>

                        <tr>
                            <th>P</th>
                            <td>Domestic production activities information </td>
                            <td>See Form 8903 instructions</td>
                        </tr>

                        <tr>
                            <th>Q</th>
                            <td>Qualified production activities income</td>
                            <td>Form 8903, line 7b</td>
                        </tr>

                        <tr>
                            <th>R</th>
                            <td>Employer's Form W-2 wages</td>
                            <td>Form 8903, line 17</td>
                        </tr>

                        <tr>
                            <th>S</th>
                            <td>Other deductions</td>
                            <td>See the Shareholder's Instructions</td>
                        </tr>

                        <tr>
                            <th rowspan="14">13.</th>
                            <th colspan="3">Credits</th>
                        </tr>

                        <tr>
                            <th>A</th>
                            <td>Low-income housing credit (section
                                42(j)(5)) from pre-2008 buildings</td>
                            <td rowspan="7" class="large-group">
                                <table>
                                    <tr>
                                        <td><img src="img/bracket.png" height="150" width="8"/></td>
                                        <td>See the Shareholder's Instructions</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <th>B</th>
                            <td>Low-income housing credit (other) pre-2008 buildings</td>
                        </tr>

                        <tr>
                            <th>C</th>
                            <td>Low-income housing credit (section
                            42(j)(5)) from post-2007 buildings</td>
                        </tr>

                        <tr>
                            <th>D</th>
                            <td>Low-income housing credit (other)
                                from post-2007 buildings</td>
                        </tr>

                        <tr>
                            <th>E</th>
                            <td>Qualified rehabilitation expenditures
                                (rental real estate)</td>
                        </tr>

                        <tr>
                            <th>F</th>
                            <td>Other rental real estate credits</td>
                        </tr>

                        <tr>
                            <th>G</th>
                            <td>Other rental credits</td>
                        </tr>

                        <tr>
                            <th>H</th>
                            <td>Undistributed capital gains credit</td>
                            <td>Form 1040,line 73,box a</td>
                        </tr>

                        <tr>
                            <th>I</th>
                            <td>Biofuel producer credit</td>
                            <td rowspan="5" class="large-group">
                                <table>
                                    <tr>
                                        <td><img src="img/bracket.png" height="65" width="10"/></td>
                                        <td>See the Shareholder's Instructions</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>

                        <tr>
                            <th>J</th>
                            <td>Work opportunity credit</td>
                        </tr>

                        <tr>
                            <th>K</th>
                            <td>Disabled access credit</td>
                        </tr>

                        <tr>
                            <th>L</th>
                            <td>Empowerment zone employment credit</td>
                        </tr>

                        <tr>
                            <th>M</th>
                            <td>Credit for increasing research activities</td>
                        </tr>

                        </tbody>
                    </table>

                </div>
                <div class="right">
                    <table class="text-left page-2-table">
                        <tbody>
                        <tr>
                            <td rowspan="4"></td>
                            <td colspan="2"><i>Code</i></td>
                            <td><i>Report on</i></td>
                        </tr>
                        <tr>
                            <th>N</th>
                            <td>Credit for employer social
                                security and Medicare taxes </td>
                            <td rowspan="3" class="large-group">
                                <table>
                                    <tr>
                                         <td><%= image_tag("bracket.png", height: '46') %> </td>
                                        <td>See the Shareholder's Instructions</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>

                        <tr>
                            <th>O</th>
                            <td>Backup withholding </td>
                        </tr>

                        <tr>
                            <th>P</th>
                            <td>Other Credits</td>
                        </tr>

                        <tr>
                            <th rowspan="22">14.</th>
                            <th colspan="3">Foreign Transactions </th>
                        </tr>

                        <tr>
                            <th>A</th>
                            <td>Name of country or U.S. possession</td>
                            <td rowspan="3" class="large-group">
                                <table>
                                    <tr>
                                        <td><%= image_tag("bracket.png", height: '35') %> </td>
                                        <td>Form 1116, Part I </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>

                        <tr>
                            <th>B</th>
                            <td>Gross income from all sources</td>
                        </tr>
                        <tr>
                            <th>C</th>
                            <td>Gross income sourced at shareholder level</td>
                        </tr>

                        <tr>
                            <td colspan="3"><i>Foreign gross income sourced at corporate level</i> </td>
                        </tr>

                        <tr>
                            <th>D</th>
                            <td>Passive category</td>
                            <td rowspan="3" class="large-group">
                                <table>
                                    <tr>
                                       <td><%= image_tag("bracket.png", height: '35') %> </td>
                                        <td>Form 1116, Part I </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>

                        <tr>
                            <th>E</th>
                            <td>General category</td>
                        </tr>

                        <tr>
                            <th>F</th>
                            <td>Other</td>
                        </tr>

                        <tr>
                            <td colspan="3"><i>Deductions allocated and apportioned at shareholder level </i> </td>
                        </tr>

                        <tr>
                            <th>G</th>
                            <td>Interest expense</td>
                            <td>Form 1116, Part I</td>
                        </tr>

                        <tr>
                            <th>H</th>
                            <td>Other</td>
                            <td>Form 1116, Part I</td>
                        </tr>

                        <tr>
                            <td colspan="3">
                                <i>Deductions allocated and apportioned at corporate level to foreign source
                                income </i> </td>
                        </tr>

                        <tr>
                            <th>I</th>
                            <td>Passive category</td>
                            <td rowspan="3" class="large-group">
                                <table>
                                    <tr>
                                        <td><img src="img/bracket.png" height="35"/></td>
                                        <td>Form 1116, Part I </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>

                        <tr>
                            <th>J</th>
                            <td>General category</td>
                        </tr>

                        <tr>
                            <th>K</th>
                            <td>Other</td>
                        </tr>

                        <tr>
                            <td colspan="3"><i>Other Information </i> </td>
                        </tr>

                        <tr>
                            <th>L</th>
                            <td>Total foreign taxes paid</td>
                            <td>Form 1116, Part II</td>
                        </tr>

                        <tr>
                            <th>M</th>
                            <td>Total foreign taxes accrued</td>
                            <td>Form 1116, Part II</td>
                        </tr>

                        <tr>
                            <th>N</th>
                            <td>Reduction in taxes available for credit</td>
                            <td>Form 1116, line 12</td>
                        </tr>

                        <tr>
                            <th>O</th>
                            <td>Foreign trading gross receipts </td>
                            <td>Form 8873</td>
                        </tr>

                        <tr>
                            <th>P</th>
                            <td>Extraterritorial income exclusion</td>
                            <td>Form 8873</td>
                        </tr>

                        <tr>
                            <th>Q</th>
                            <td class="vertical-top">Other foreign transactions</td>
                            <td>See the Shareholder's Instructions</td>
                        </tr>

                        <tr>
                            <th rowspan="7">15. </th>
                            <th colspan="3">Alternative minimum tax (AMT) items</th>
                        </tr>
                        <tr>
                            <th>A</th>
                            <td>Post-1986 depreciation adjustment</td>
                            <td rowspan="6" class="large-group">
                                <table>
                                    <tr>
                                        <td><img src="img/bracket.png" height="80" width="8"/></td>
                                        <td>See the<br/> Shareholder's <br/>Instructions and <br/>the Instructions for<br/> Form 6251</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>

                        <tr>
                            <th>B</th>
                            <td>Adjusted gain or loss</td>
                        </tr>

                        <tr>
                            <th>C</th>
                            <td>Depletion (other than oil & gas)</td>
                        </tr>

                        <tr>
                            <th>D</th>
                            <td>Oil, gas, & geothermal-gross income</td>
                        </tr>

                        <tr>
                            <th>E</th>
                            <td>Oil, gas, & geothermal-deductions</td>
                        </tr>

                        <tr>
                            <th>F</th>
                            <td>Other AMT items</td>
                        </tr>

                        <tr>
                            <th rowspan="6">16. </th>
                            <th colspan="3">Items affecting shareholder basis </th>
                        </tr>
                        <tr>
                            <th>A</th>
                            <td>Tax-exempt interest income</td>
                            <td>Form 1040, line 8b </td>
                        </tr>

                        <tr>
                            <th>B</th>
                            <td>Other tax-exempt income</td>
                            <td rowspan="4" class="large-group">
                                <table>
                                    <tr>
                                        <td><img src="img/bracket.png" height="50"/></td>
                                        <td>See the Shareholder's Instructions</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>

                        <tr>
                            <th>C</th>
                            <td>Nondeductible expenses</td>
                        </tr>

                        <tr>
                            <th>D</th>
                            <td>Distributions </td>
                        </tr>

                        <tr>
                            <th>E</th>
                            <td>Repayment of loans from
                                shareholders </td>
                        </tr>

                        <tr>
                            <th rowspan="23">17. </th>
                            <th colspan="3">Other Information </th>
                        </tr>

                        <tr>
                            <th>A</th>
                            <td>Investment income</td>
                            <td>Form 4952, line 4a</td>
                        </tr>

                        <tr>
                            <th>B</th>
                            <td>Investment expenses</td>
                            <td>Form 4952, line 5</td>
                        </tr>

                        <tr>
                            <th>C</th>
                            <td>Qualified rehabilitation expenditures
                                (other than rental real estate)</td>
                            <td>See the Shareholder's Instructions</td>
                        </tr>

                        <tr>
                            <th>D</th>
                            <td>Basis of energy property</td>
                            <td>See the Shareholder's Instructions</td>
                        </tr>

                        <tr>
                            <th>E</th>
                            <td>Recapture of low-income housing
                                credit (section 42(j)(5))</td>
                            <td>Form 8611, line 8</td>
                        </tr>

                        <tr>
                            <th>F</th>
                            <td>Recapture of low-income housing credit (other)</td>
                            <td>Form 8611, line 8</td>
                        </tr>

                        <tr>
                            <th>G</th>
                            <td>Recapture of investment credit</td>
                            <td>See Form 4255</td>
                        </tr>

                        <tr>
                            <th>H</th>
                            <td>Recapture of other credits</td>
                            <td>See the Shareholder's Instructions</td>
                        </tr>

                        <tr>
                            <th>I</th>
                            <td>Look-back interest-completed
                                long-term contracts</td>
                            <td>See Form 8697</td>
                        </tr>

                        <tr>
                            <th>J</th>
                            <td>Look-back interest-income forecast method</td>
                            <td>See Form 8866</td>
                        </tr>

                        <tr>
                            <th>K</th>
                            <td>Dispositions of property with section 179 deductions</td>
                            <td rowspan="12" class="large-group">
                                <table>
                                    <tr>
                                        <td><img src="img/bracket.png" height="182" width="8"/></td>
                                        <td>See the Shareholder's Instructions</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>

                        <tr>
                            <th>L</th>
                            <td>Recapture of section 179 deduction</td>
                        </tr>

                        <tr>
                            <th>M</th>
                            <td>Section 453(l)(3) information</td>
                        </tr>

                        <tr>
                            <th>N</th>
                            <td>Section 453A(c) information</td>
                        </tr>

                        <tr>
                            <th>O</th>
                            <td>Section 1260(b) information</td>
                        </tr>

                        <tr>
                            <th>P</th>
                            <td>Interest allocable to production expenditures</td>
                        </tr>

                        <tr>
                            <th>Q</th>
                            <td>CCF nonqualified withdrawals</td>
                        </tr>

                        <tr>
                            <th>R</th>
                            <td>Depletion information-oil and gas</td>
                        </tr>

                        <tr>
                            <th>S</th>
                            <td>Reserved</td>
                        </tr>

                        <tr>
                            <th>T</th>
                            <td>Section 108(i) information</td>
                        </tr>

                        <tr>
                            <th>U</th>
                            <td>Net investment income</td>
                        </tr>

                        <tr>
                            <th>V</th>
                            <td>Other information</td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>